<section ng-controller="MassagesController as vm">
  <div class="section-body">
    <!-- BEGIN RESPONSIVE TABLE 1 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-bordered style-primary">
          <div class="card-head">
            <div class="tools" style="margin-top: 10px">
              <div class="btn-group">
                <a ng-show="vm.showView =='list'" ng-click="vm.changeView('add')" class="btn btn-icon-toggle btn-close ym-tooltip" data-toggle="tooltip"
                  data-placement="top" data-original-title="Adicionar" style="line-height: 30px;">
                  <i class="md md-add"></i>
                </a>
                <a ng-show="vm.showView =='add' || vm.showView =='edit'" ng-click="vm.changeView('list')" class="btn btn-icon-toggle btn-close ym-tooltip"
                  data-toggle="tooltip" data-placement="top" data-original-title="Listar" style="line-height: 30px;">
                    <i class="md md-list"></i>
                  </a>
              </div>
            </div>
            <header ng-hide="vm.showView =='edit'" style="margin-top: 8px;"><i style="padding-bottom: 6px;" class="fa fa-paw"></i> Masajes</header>
            <header ng-show="vm.showView =='edit'" style="margin-top: 8px;"><i style="padding-bottom: 6px;" class="fa fa-paw"></i> {{vm.massage.name.es}}</header>
          </div>
          <!--end .card-head -->
          <div class="card-body style-default-bright">
            <div ng-show="vm.showView =='list'" class="table-responsive">
              <table class="table table-condensed no-margin table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th style="width:170px">Nombre(es)</th>
                    <th style="width:170px">Nombre(en)</th>
                    <th>Descripción(es)</th>
                    <th>Descripción(en)</th>
                    <th>Color</th>
                    <th class="text-right" style="width: 90px">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="massage in vm.massages| orderBy: 'massage.name.es'">
                    <td>{{$index+1+vm.offset}}</td>
                    <td>{{massage.name.es|limitTo:25}}</td>
                    <td>{{massage.name.en|limitTo:25}}</td>
                    <td>{{massage.description.es|limitTo:50}} ...</td>
                    <td>{{massage.description.en|limitTo:50}} ...</td>
                    <td><i class="md md-color-lens" ng-style="{color:massage.color}"></i></td>
                    <td class="text-right">
                      <button ng-click="vm.edit(massage)" type="button" class="btn btn-icon-toggle ym-tooltip" data-toggle="tooltip" data-placement="top"
                        data-original-title="Editar"><i class="fa fa-pencil"></i></button>
                      <button ng-click="vm.alertRemove(massage)" type="button" class="btn btn-icon-toggle ym-tooltip" data-toggle="tooltip" data-placement="top"
                        data-original-title="Eliminar"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br/><br/>
              <ul style="margin: 0 20px 10px 0;" class="pull-right" uib-pagination boundary-links="true" total-items="vm.totalItems" ng-model="vm.currentPage"
                class="pagination-sm" previous-text="&lsaquo;" ng-change="vm.pageChanged()" next-text="&rsaquo;" first-text="&laquo;"
                last-text="&raquo;"></ul>
            </div>


            <form ng-show="vm.showView =='add' || vm.showView =='edit'" name="addMassage" class="form form-validate" ng-submit="vm.doAction()"
              novalidate="novalidate">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <input ng-model="vm.massage.name.es" ng-validate="customRequired" type="text" class="form-control" id="NameEs">
                    <label for="NameEs">Nombre(es)</label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input ng-model="vm.massage.name.en" ng-validate="customRequired" type="text" class="form-control" id="NameEn">
                    <label for="NameEn">Nombre(en)</label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <input ng-model="vm.massage.color" type="text" id="cp1" class="form-control bscp" value="#000">
                    <label>Color</label>
                  </div>
                  <!--end .form-group -->
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <textarea style="font-size: 13px" ng-model="vm.massage.description.es" ng-validate="customRequired" name="DescriptionEs" class="form-control" rows="3"
                      placeholder=""></textarea>
                    <label for="NameEs">Descripción(es)</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <textarea style="font-size: 13px" ng-model="vm.massage.description.en" ng-validate="customRequired" name="DescriptionEn" class="form-control" rows="3"
                      placeholder=""></textarea>
                    <label for="NameEn">Descripción(en)</label>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div ng-show="vm.showView=='edit'" class="row col-lg-6">
                  <section class="style-default-bright">
                    <div class="section-body">
                      <h2 class="text-primary"><i class="fa fa-smile-o"></i> Indicaciones</h2>
                      <a ng-click="vm.showIndications()" class="btn btn-close ym-tooltip pull-right btn-accent btn-floating-action btn-sm" data-toggle="tooltip"
                        data-placement="top" data-original-title="Adicionar" style="line-height: 30px;">
                              <i class="md md-add"></i>
                            </a>
                      <p>
                        Adiciona las <code>Indicaciones</code> del masaje en cuestión.
                      </p>
                      <table class="table table-hover">
                        <tbody>
                          <tr ng-repeat="indication in vm.massage.indications">
                            <td style="padding: 0">{{indication.es}}</td>
                            <td style="padding: 0" class="text-right">
                              <button ng-click="vm.destroyIndication($index)" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top"
                                data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--end .section-body -->
                  </section>
                </div>
                <div ng-show="vm.showView=='edit'" class="row col-lg-6">
                  <section class="style-default-bright">
                    <div class="section-body">
                      <h2 class="text-primary"><i class="fa fa-meh-o"></i> Contraindicaciones</h2>
                      <a ng-click="vm.showContraindications()" class="btn btn-close ym-tooltip pull-right btn-accent btn-floating-action btn-sm"
                        data-toggle="tooltip" data-placement="top" data-original-title="Adicionar" style="line-height: 30px;">
                              <i class="md md-add"></i>
                            </a>
                      <p>
                        Adiciona las <code>Contraindicaciones</code> del masaje en cuestión.
                      </p>
                      <table class="table table-hover">
                        <tbody>
                          <tr ng-repeat="contraindication in vm.massage.contraindications">
                            <td style="padding: 0" >{{contraindication.es}}</td>
                            <td style="padding: 0" class="text-right">
                              <button ng-click="vm.destroyContraindication($index)" type="button" class="btn btn-icon-toggle" data-toggle="tooltip"
                                data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--end .section-body -->
                  </section>
                </div>
                <div class="clearfix"></div>
                <div ng-show="vm.showView=='edit'" class="row col-lg-6">
                  <section class="style-default-bright">
                    <div class="section-body">
                      <h2 class="text-primary"><i style="line-height: 37px;" class="md md-insert-photo"></i> Fotos</h2>
                      <a ng-click="vm.addMedias()" class="btn btn-close ym-tooltip pull-right btn-accent btn-floating-action btn-sm" data-toggle="tooltip"
                        data-placement="top" data-original-title="Adicionar" style="line-height: 30px;">
                        <i class="md md-add"></i>
                      </a>
                      <p>
                        Adiciona las <code>fotos</code> del masaje en cuestión.
                      </p>
                      <br><br>
                      <div class="col-md-4" ng-repeat="media in vm.massage.medias">
                        <div class="card card-type-pricing text-center">
                          <div class="card-body" ng-click="vm.viewMedias(media)" style="background-image: url({{media.dir}});background-position: center center;background-size: cover;height: 77.35px;cursor:pointer">
                          </div>
                          <button ng-click="vm.destroyMedia(media)" type="button" class="btn ink-reaction btn-icon-toggle btn-xs btn-danger pull-right ym-tooltip"
                            data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash"></i></button>
                        </div>
                        <!--end .card -->
                      </div>
                    </div>
                  </section>
                </div>
                <div ng-show="vm.showView=='edit'" class="row col-lg-6">
                  <section class="style-default-bright">
                    <div class="section-body">
                      <h2 class="text-primary"><i class="fa fa-money"></i> Tarifas</h2>
                      <a ng-click="vm.showAddPrices()" class="btn btn-close ym-tooltip pull-right btn-accent btn-floating-action btn-sm" data-toggle="tooltip"
                        data-placement="top" data-original-title="Adicionar" style="line-height: 30px;">
                                <i class="md md-add"></i>
                              </a>
                      <p>
                        Adiciona las <code>Tarifas</code> del masaje en cuestión.
                      </p>
                      <table class="table table-hover">
                        <tbody>
                          <tr ng-repeat="price in vm.massage.prices">
                            <td>{{ price.price | currency : '$' : 2}}</td>
                            <td>{{ price.time}} minutos</td>
                            <td class="text-right">
                              <button ng-click="vm.destroyPrice($index)" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top"
                                data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--end .section-body -->
                  </section>
                </div>
                <div class="clearfix"></div>
                <div class="card-actionbar-row">
                  <button ng-show="vm.showView =='add'" id="btn-add-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                  Crear masaje
                </button>
                  <button ng-show="vm.showView =='edit'" id="btn-save-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                      Salvar masaje
                    </button>
                </div>
            </form>
            </div>
            <!--end .card-body -->
          </div>
        </div>
        <!--end .col -->
      </div>
      <!--end .row -->
      <!-- END RESPONSIVE TABLE 1 -->
    </div>
    <!--end .section-body -->

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Eliminar masaje
            </h4>
          </div>
          <div class="modal-body">

            <div class="alert alert-callout alert-danger" role="alert">
              <strong>{{vm.massage.name.es}}</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button ng-click="vm.removeAlertRemove()" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <button ng-click="vm.destroy()" type="button" class="btn btn-danger btn-sm">Confirmar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="indicationsModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Adicionar indicación
            </h4>
          </div>
          <div class="modal-body">
            <form name="addIndication" class="form form-validate">
              <div class="form-group">
                <textarea style="font-size: 13px" ng-model="vm.indication.es" name="textarea1" id="textarea1" class="form-control" rows="3" placeholder=""></textarea>
                <label for="textarea1">Texto (Es)</label>
              </div>
              <div class="form-group">
                <textarea style="font-size: 13px" ng-model="vm.indication.en" name="textarea1" id="textarea1" class="form-control" rows="3" placeholder=""></textarea>
                <label for="textarea1">Texto (En)</label>
              </div>
            </form>

          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <button ng-click="vm.addIndication()" ng-disabled="!vm.indication.es.length || !vm.indication.en.length" type="button" class="btn btn-accent btn-sm" data-dismiss="modal">Adicionar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="contraindicationsModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Adicionar contraindicaciones
            </h4>
          </div>
          <div class="modal-body">
            <form name="addIndication" class="form form-validate">
              <div class="form-group">
                <textarea style="font-size: 13px" ng-model="vm.indication.es" name="textarea1" id="textarea1" class="form-control" rows="3" placeholder=""></textarea>
                <label for="textarea1">Texto (Es)</label>
              </div>
              <div class="form-group">
                <textarea style="font-size: 13px" ng-model="vm.indication.en" name="textarea1" id="textarea1" class="form-control" rows="3" placeholder=""></textarea>
                <label for="textarea1">Texto (En)</label>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <button ng-click="vm.addContraindication()" ng-disabled="!vm.indication.es.length || !vm.indication.en.length" type="button" class="btn btn-accent btn-sm" data-dismiss="modal">Adicionar</button>
            
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="addMediasModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Adicionar Fotos
            </h4>
          </div>
          <div class="modal-body">
            <massage-dropzone ng-if="vm.massage.id" id="vm.massage.id"></massage-dropzone>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="viewMediasModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-image: url({{vm.media.dir}});background-position: center center;background-size: cover;height: 530px;width: 800px;cursor:pointer">
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn ink-reaction btn-floating-action btn-xs btn-info" data-dismiss="modal" data-toggle="tooltip"
              data-placement="top" data-original-title="Cerrar"><i class="fa fa-close"></i></button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="pricesModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Agregar tarifa
            </h4>
          </div>
          <div class="modal-body">
            <form class="form">
              <div class="form-group">
                <input ng-model="vm.price.price" type="number" class="form-control" id="regular1">
                <label>Precio (USD)</label>
              </div>
              <div class="form-group">
                <input ng-model="vm.price.time" type="number" class="form-control" id="password1">
                <label>Tiempo (min)</label>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <button type="button" ng-disabled="vm.price.time <= 0" class="btn btn-accent btn-sm" data-dismiss="modal" ng-click="vm.addPrice()">Adicionar</button>

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>

    <!-- END SIMPLE MODAL MARKUP -->
</section>
