table tr {
	font-family: 'Roboto', sans-serif, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.846153846;
	color: #313534;
	background-color: #ffffff;
}
span.hasError {
	color: #f44336;
	opacity: 1;
}

.btn-accent {
	color: #9c27b0;
	color: #ffffff;
	background-color: #7c72b0;
	border-color: #9c27b0;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #7c72b0;
	border-color: #9c27b0;
}
.ym-admin-avatar {
	height: 150px;
	width: 150px;
	position: relative;
	margin-bottom: 5px;
	background-color: #ffffff;
	color: #313534;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.fc-ltr .fc-basic-view .fc-day-number {
	float: right;
}
.fc-unthemed .fc-widget-header thead tr th {
	opacity: 0.6;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
}

.fc-row .fc-content-skeleton td.fc-today {
	background: rgb(238, 249, 248);
}

.fc-day.fc-widget-content.fc-today {
	background: rgb(238, 249, 248);
}

.fc-basic-view tbody .fc-row {
	border-top: solid 1px #c9c9c9;
}

