<html lang="en">

<head>
  <title>YumaMassage Install App</title>

  <!-- BEGIN META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="your,keywords">
  <meta name="description" content="Short explanation about this website">
  <!-- END META -->

  <!-- BEGIN STYLESHEETS -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700,800' rel='stylesheet' type='text/css'/> -->
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/bootstrap.css?1422792965" />
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/materialadmin.css?1425466319" />
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/font-awesome.min.css?1422529194" />
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/material-design-iconic-font.min.css?1421434286"
  />
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/libs/toastr/toastr.css?1425466569" />
  <link type="text/css" rel="stylesheet" href="/styles/admin/styles.css" />
  <!-- END STYLESHEETS -->


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
            <script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
            <script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
            <![endif]-->
</head>

<body>
  <section class="section-account">
    <div class="img-backdrop" style="background-image: url('/images/Standard/img_photo_background.png')"></div>
    <div class="spacer"></div>
    <div class="card contain-xs style-transparent">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body style-default-bright height-1">
                <img class="col-md-6 col-md-offset-3" src="/images/Standard/img_190px_menu_logo.png" srcset="/images/Retina/img_190px_menu_logo@2x.png 2x">
              </div>
              <br/><br/>
              <div class="clearfix"></div>
              <div class="card-body small-padding text-center">
                <button id="loadData" type="button" class="btn ink-reaction btn-raised btn-accent btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Cargando...">Cargar ejemplos</button>
              </div>
            </div>
          </div>
          <!--end .col -->
        </div>
        <!--end .row -->
      </div>
      <!--end .card-body -->
    </div>
    <!--end .card -->
  </section>


  <!-- BEGIN JAVASCRIPT -->
  <script src="/js/admin/libs/jquery/jquery-1.11.2.min.js"></script>
  <script src="/js/admin/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script src="/js/admin/libs/bootstrap/bootstrap.min.js"></script>

  <script>
    $(function () {
      $("#loadData").click(function () {
        var btn = $('#loadData');
        btn.button('loading');
        $.post("/install", {})
          .done(function (data) {
            btn.button('reset');
          });
      })
    });

  </script>

</body>

</html>
