<html lang="en">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?version=2">
  <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?version=2" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?version=2" sizes="16x16">
  <link rel="manifest" href="/favicon/manifest.json">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?version=2" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="YumaMassage">
  <meta name="application-name" content="YumaMassage">

  <title>Yuma Massage</title>
  <base href="/"/>

  <!-- BEGIN META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="your,keywords">
  <meta name="description" content="Short explanation about this website">
  <!-- END META -->

  <!-- BEGIN STYLESHEETS -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700,800' rel='stylesheet' type='text/css'/> -->
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/bootstrap.css?1422792965"/>
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/materialadmin.css?1425466319"/>
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/font-awesome.min.css?1422529194"/>
  <link type="text/css" rel="stylesheet"
        href="/styles/admin/theme-default/material-design-iconic-font.min.css?1421434286"
  />
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/libs/toastr/toastr.css?1425466569"/>
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/libs/summernote/summernote.css?1425218701"/>
  <link type="text/css" rel="stylesheet"
        href="/styles/admin/theme-default/libs/bootstrap-colorpicker/bootstrap-colorpicker.css?1424887860"
  />
  <link type="text/css" rel="stylesheet" href="/styles/admin/theme-default/libs/select2/select2.css?1424887856"/>
  <link type="text/css" rel="stylesheet"
        href="/styles/admin/theme-default/libs/multi-select/multi-select.css?1424887857"/>
  <link type="text/css" rel="stylesheet"
        href="/styles/admin/theme-default/libs/dropzone/dropzone-theme.css?1424887864"/>
  <link type="text/css" rel="stylesheet"
        href="/styles/admin/theme-default/libs/fullcalendar/fullcalendar.css?1425466619"/>

  <link type="text/css" rel="stylesheet" href="/styles/admin/styles.css"/>
  <!-- END STYLESHEETS -->


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/js/admin/libs/utils/html5shiv.js?1403934957"></script>
  <script type="text/javascript" src="/js/admin/libs/utils/respond.min.js?1403934956"></script>
  <![endif]-->
</head>

<body ng-app="YumaMassage" ng-class="{'menubar-visible':$root.menubarVisible, 'menubar-pin':$root.menubarVisible}"
      ng-cloak
      class="menubar-hoverable header-fixed">


<ui-view></ui-view>

<!-- BEGIN JAVASCRIPT -->
<script src="/js/admin/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/js/admin/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/admin/libs/bootstrap/bootstrap.min.js"></script>
<script src="/js/admin/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="/js/admin/libs/spin.js/spin.min.js"></script>
<script src="/js/admin/libs/autosize/jquery.autosize.min.js"></script>
<script src="/js/admin/libs/moment/moment.min.js"></script>
<script src="/js/admin/libs/moment/langs.min.js"></script>
<script src="/js/admin/libs/toastr/toastr.js"></script>
<script src="/js/admin/libs/summernote/summernote.min.js"></script>
<script src="/js/admin/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="/js/admin/libs/dropzone/dropzone.js"></script>
<script src="/js/admin/libs/select2/select2.min.js"></script>
<script src="/js/admin/libs/multi-select/jquery.multi-select.js"></script>
<script src="/js/admin/libs/fullcalendar/fullcalendar.min.js"></script>
<script src="/js/admin/libs/fullcalendar/locale/es.js"></script>

<!-- Put App.js last in your javascript imports -->
<script src="/js/admin/core/source/App.min.js"></script>


<!-- AngularJS Libs -->
<script src="/js/admin/angularjs/angular.js"></script>
<script src="/js/admin/angularjs/angular-ui-router.min.js"></script>
<script src="/js/admin/angularjs/statehelper.min.js"></script>
<script src="/js/admin/angularjs/angular-resource.min.js"></script>
<script src="/js/admin/angularjs/ngValidate.js"></script>
<script src="/js/admin/angularjs/angular-jwt.js"></script>
<script src="/js/admin/angularjs/ngStorage.min.js"></script>
<script src="/js/admin/angularjs/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="/js/admin/angularjs/ng-dropzone.js"></script>
<script src="/js/admin/angularjs/select2.js"></script>
<script src="/js/admin/angularjs/calendar.js"></script>


<!-- Angular App -->
<script src="/js/admin/app/index.module.js"></script>
<script src="/js/admin/app/index.run.js"></script>
<script src="/js/admin/app/index.config.js"></script>
<script src="/js/admin/app/index.constants.js"></script>
<script src="/js/admin/app/index.route.js"></script>
<script src="/js/admin/app/index.api.js"></script>

<script src="/js/admin/app/dashboard/DashboardController.js"></script>
<script src="/js/admin/app/auth/AuthController.js"></script>
<script src="/js/admin/app/dashboard/home/HomeController.js"></script>
<script src="/js/admin/app/dashboard/users/UsersController.js"></script>
<script src="/js/admin/app/dashboard/therapists/TherapistsController.js"></script>
<script src="/js/admin/app/dashboard/massages/MassagesController.js"></script>
<script src="/js/admin/app/dashboard/massages/dropzone/massageDropzone.js"></script>
<script src="/js/admin/app/dashboard/therapists/dropzone/therapistDropzone.js"></script>
<script src="/js/admin/app/dashboard/therapists/calendar/calendar.js"></script>
<script src="/js/admin/app/dashboard/profile/ProfileController.js"></script>


</body>

</html>
