<div class="yuma-carousel">
  <div class="background">
    <div class="back-layer">
      <div class="container">
        <div class="col-xs-12 col-sm-6">
          <h2><b><%= __("World of sensations") %></b></h2>
          <p><%= __("YumaMassage is an on-demand mobile massage service") %></p>
          <div class="booking-buttom col-xs-12">
            <a href="/<%= locale %>/<%= __("Treatments").toLowerCase() %>"
               class="btn btn-default btn-lg first-button"><%= __("Book a treatment") %></a>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
<div class="container fix-index">
  <div class="in">
    <div class="information-text margin-bottom">
      <div>
        <h3><%= __('About') %></h3>
        <p class="text-justify">
          <%= __('YumaMassage offers services with the goal to provide phisical and psicological wellness to people') %>
        </p>
      </div>
    </div>
    <div class="margin-bottom">
      <div class="row">
        <div class="col-xs-12 col-sm-4 text-center margin-top">
          <img src="/images/Standard/ic_108px__home_sevices_treatments.png"
               srcset="/images/Retina/ic_108px__home_sevices_treatments@2x.png 2x">
          <h3><%= __('Mobile Professional Massage') %></h3>
          <p>
            <%= __('Book your professional massage from any place in La Habana') %>
          </p>
        </div>

        <div class="col-xs-12 col-sm-4 text-center margin-top">
          <img src="/images/Standard/ic_108px_home_sevices_therapists.png"
               srcset="/images/Retina/ic_108px_home_sevices_therapists@2x.png 2x">
          <h3><%= __('YumaMassage') %></h3>
          <p>
            <%= __('YumaMassage is an on-demand mobile massage service') %>
          </p>
        </div>

        <div class="col-xs-12 col-sm-4 text-center margin-top margin-bottom">
          <img src="/images/Standard/ic_108px_home_sevices_booking.png"
               srcset="/images/Retina/ic_108px_home_sevices_booking@2x.png 2x">
          <h3><%= __('Notice') %></h3>
          <p>
            <%= __('YumaMassage will fully operational very soon') %>
          </p>
        </div>

        <% treatments[1].forEach(function (tr) { %>
        <div class="col-xs-12 col-sm-6">
          <div class="anima-card">
            <% if(tr.medias[0]){ %>
            <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>">
              <img src="<%= tr.medias[0].dir %>" srcset="<%= tr.imageR %> 2x"
              style="border-bottom: 2px solid <%= tr.color %>" width="100%">
            </a>
            <% } %>
            <div class="card-body col-xs-12">
              <div class="name">
                <div class="single" style="color: <%= tr.color %> ">
                  <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>">
                    <%= tr.name[viewBag.lang] %>
                  </a>
                </div>
                <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>">
                  <span
                    class="glyphicon glyphicon-info-sign pull-right"
                    aria-hidden="true"></span>
                </a>
              </div>
              <div class="description-container text-justify">
                <p><%= tr.description[viewBag.lang] %></p>
              </div>
              <div class="clearfix"></div>
              <div class="bottom-card-opacity"></div>
            </div>
            <div class="line-separator"></div>
            <div class="text-center">
              <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>" class="btn btn-card"><%= __("Choose") %></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <% }); %>

      </div>
      <!-- <div class="text-center">
        <a href="/<%= __("language") %>/treatments" class="paginate">
          <img src="/images/Standard/ic_massage.png" srcset="/images/Retina/ic_massage@2x.png 2x">
          <h4><%= __("See all treatments") %> ...</h4>
        </a>
      </div> -->

    </div>
  </div>

</div>

<div class="container">
  <div class="col-xs-6 col-sm-3 text-center partner">
    <img src="/images/Standard/img_120x120_partner_isofact_hover.png"
         srcset="/images/Retina/img_120x120_partner_isofact_hover@2x.png 2x">
  </div>
  <div class="col-xs-6 col-sm-3 text-center partner">
    <img src="/images/Standard/img_150x120partner_piraterias_hover.png"
         srcset="/images/Retina/img_150x120partner_piraterias_hover@2x.png 2x">
  </div>
  <div class="col-xs-6 col-sm-3 text-center partner">
    <img src="/images/Standard/img_120x120partner_yerroapps_hover.png"
         srcset="/images/Retina/img_120x120partner_yerroapps_hover@2x.png 2x">
  </div>
  <div class="col-xs-6 col-sm-3 text-center partner">
    <img src="/images/Standard/img_120x120_partner_usa-cubatours_normal.png"
         srcset="/images/Retina/img_120x120_partner_usa-cubatours_normal@2x.png 2x">
  </div>
</div>


