<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta name="fragment" content="!">
  <!--Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?version=2">
  <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?version=2" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?version=2" sizes="16x16">
  <link rel="manifest" href="/favicon/manifest.json">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?version=2" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-title" content="YumaMassage">
  <meta name="application-name" content="YumaMassage">

  <title id="anima_title">YumaMassage<%= title ? "|" + title : "" %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/flags/css/flag-icon.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>

<header class="navbar navbar-inverse navbar-fixed-top yuma-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".yuma-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/<%= i18n("language") %>" class="navbar-brand navbar-logo">
        <img src="/images/Standard/img_190px_menu_logo.png" srcset="/images/Retina/img_190px_menu_logo@2x.png 2x">
      </a>
      <div></div>
    </div>
    <nav class="collapse navbar-collapse yuma-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<% if(page == "treatments"){ %>active<% } %>">
          <a class="text-capitalize" href="/<%= i18n("language") %>/treatments">
            <%= __("Treatments") %>
          </a>
        </li>
        <li class="<% if(page == "therapists"){ %>active<% } %>">
          <a class="text-capitalize" href="/<%= i18n("language") %>/therapists">
            <%= __("Therapists") %>
          </a>
        </li>
        <li>
          <a class="text-capitalize" href="/admin">
            <%= __("Account") %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<%- body %>

<footer class="margin-top">
  <div class="newsletter">
    <div class="container">
      <div class="col-xs-12 col-sm-6 ">
        <span class="footer_subscription_title"><%= __("Subscription") %></span>
        <p
          class="footer_subscription_subtitle"><%= __("Please, subscribe to our Bulletin to let you know when everything is set") %></p>
      </div>
      <div class="col-xs-12 col-sm-5 r-padding-left right">
        <form role="form">
          <div class="col-xs-12 col-sm-6">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
          </div>
          <div class="col-xs-12 col-sm-6">
            <button type="submit" class="btn"><%= __("Subscribe") %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">

      <div class="col-xs-12 col-sm-6 right r-padding-left">
        <ul class="nav nav-pills right">
          <li class="hidden-xs hidden-sm"><a href="/<%= i18n("language") %>"><%= __("Home") %></a></li>
          <li>
            <a class="text-capitalize" href="/<%= i18n("language") %>/treatments"><%= __("Treatments") %></a>
          </li>
          <li>
            <a class="text-capitalize" href="/<%= i18n("language") %>/therapists"><%= __("Therapists") %></a>
          </li>
          <li><a class="text-capitalize" href="/<%= i18n("language") %>/account"><%= __("Account") %></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="col-xs-12 col-sm-9 r-padding-left">
          <span><%= __("Get in toch") %></span>
          <p><%= __("Feel free to contact us at any time") %></p>
          <a class="yuma-email" href="mailto:info@yumamassage.com">
            info@yumamassage.com</a>
          <div class="clearfix"></div>
          <a class="yuma-phone" href="tel:(+53) 53814844">
            +53 (538) 14844</a>
          <div class="clearfix"></div>
          <a class="yuma-phone" href="tel:(+53) 53105769">
            +53 (531) 05769</a>
        </div>

      </div>
      <a class="pull-right tripadvisor_widget_padding"
         href="https://www.tripadvisor.com/Attraction_Review-g147271-d12000923-Reviews-Yuma_Massage-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
        <img src="/images/Standard/img_TripAdvisor_widget.png " alt="Yuma Massage @ Havana"
             title="Yuma Massage @ Havana"
             srcset="/images/Retina/img_TripAdvisor_widget@2x.png 2x">
      </a>
      <div class="clearfix"></div>

      <div class="col-xs-12 col-sm-4 language xs-text-center">
        <a class="<%= i18n("language") == 'en' ? 'active' : '' %>"
           href="/en"
           id="en">English</a>

        <a class="<%= i18n("language") == 'es' ? 'active' : '' %>"
           href="/es"
           id="es">Español</a>
      </div>

      <div class="col-xs-12 col-sm-offset-3 col-md-offset-4 col-sm-4 text-right fix-links">
        <ul class="nav nav-pills right xs-center">
          <li>
            <a href="https://www.facebook.com/yumassage/">
              <img src="/images/Standard/ic_40px_social_facebook.png"
                   srcset="/images/Retina/ic_40px_social_facebook@2x.png 2x">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=LA13HVLwRPs">
              <img src="/images/Standard/ic_40px_social_yuotube.png"
                   srcset="/images/Retina/ic_40px_social_yuotube@2x.png 2x">
            </a>
          </li>
          <li>
            <a
              href="https://www.tripadvisor.com/Attraction_Review-g147271-d12000923-Reviews-Yuma_Massage-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
              <img src="/images/Standard/ic_40px_social_tripadvisor.png"
                   srcset="/images/Retina/ic_40px_social_tripadvisor@2x.png 2x">
            </a>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 text-center">
        <a href="/<%= i18n("language") %>" class=""><img src="/images/Standard/img_100px_footer_logo.png"
                                                         srcset="/images/Retina/img_100px_footer_logo@2x.png 2x"></a>
        <div class="clearfix"></div>
        <br>
        © <%= new Date().getFullYear() %> YumaMassage.com. <%= __("All Rights Reserved") %>
      </div>

    </div>
  </div>
</footer>


<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->

<!--TEMPLATES END-->


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/admin/libs/moment/moment.min.js"></script>
<script src="/js/admin/libs/moment/langs.min.js"></script>
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/sly.min.js"></script>

<% if (page == 'request') { %>
  <script src="/js/app.js"></script>
<% } %>

</body>
</html>
