<script>
  var daysData = <%- JSON.stringify(daysData) %>;
  var treatment = <%- JSON.stringify(treatment) %>;
  var therapist = <%- JSON.stringify(therapist) %>;
  var sessionsLang = <%- JSON.stringify(sessions) %>;
  var langYm = <%- JSON.stringify(viewBag.lang) %>;
</script>
<div class="container">
  <div class="row" style="margin-top: 50px;padding-bottom: 10px;border-bottom: solid 1px #7c72b0;margin-top: 50px;">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <h2 class="text-uppercase" style="margin-top: 0">
          <%= __("Booking options") %>
        </h2>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top:50px">
    <div class="col-xs-12 col-sm-8">
      <div class="animat-card">
        <% if(treatment.medias.length){ %>
        <img src="<%= treatment.medias[0].dir %>"
             style="border-bottom:none;border-top: 3px solid <%= treatment.color %>"
             width="100%">
        <% } %>
        <div class="card-body col-xs-12">
          <div class="name" style="border-bottom: solid 1px <%= treatment.color %>">
            <h3 class="text-uppercase" style="color:<%= treatment.color %> ">
              <%= treatment.name[viewBag.lang] %>
            </h3>
          </div>
          <div class="description-container" style="margin-top: 10px;">
            <p class="text" style="font-size: 14px;text-align: justify;">
              <%- treatment.description[viewBag.lang] %>
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="bottom-card-opacity"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="anima-card therapist">
        <% if(therapist.medias[0]){ %>
        <img src="<%= therapist.medias[0].dir %>" width="100%"/>
        <% }else{ %>
        <img src="/images/Admin/avatar.png" width="100%"/>
        <% } %>
        <div class="card-body col-xs-12">
          <div class="name">
            <div class="single">
              <%= therapist.firstname %> <%= therapist.lastname %>
            </div>
            <span class="glyphicon glyphicon-info-sign pull-right" aria-hidden="true"></span></div>
          <div class="description-container">
            <p>
              <%= therapist.therapist.description[viewBag.lang] %>
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="bottom-card-opacity"></div>
        </div>
        <div class="line-separator"></div>
        <div class="col-xs-12 xp-background">
          <ul class="a">

            <li class="pull-right">
              <div class="inline">
                <div class="text-center text-experience">
                  <%= __("Languages") %>
                </div>
                <div class="text-center">
                  <% therapist.therapist.languages.forEach(function (__) { %>
                  <% if(__ == "Es"){ %>
                  <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-es"
                       title="es" id="es"></div>
                  <% } %>
                  <% if(__ == "Es"){ %>
                  <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-us"
                       title="us" id="us"></div>
                  <% } %>
                  <% if(__ == "Fr"){ %>
                  <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-fr"
                       title="fr" id="fr"></div>
                  <% } %>
                  <% if(__ == "It"){ %>
                  <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-it"
                       title="it" id="it"></div>
                  <% } %>
                  <% if(__ == "De"){ %>
                  <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-de"
                       title="de" id="de"></div>
                  <% } %>
                  <% if(__ == "Ru"){ %>
                  <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-ru"
                       title="ru" id="ru"></div>
                  <% } %>
                  <% if(__ == "Pt"){ %>
                  <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-pt"
                       title="pt" id="pt"></div>
                  <% } %>
                  <% }) %>
                </div>
              </div>
            </li>
            <li class="pull-right">
              <div class="inline">
                <div class="text-center text-experience">
                  <%= __("Experience") %>
                </div>
                <div class="text-center text-years">
                  <%= therapist.therapist.yxp %>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="card">
        <div class="card-header text-uppercase" style="background-color: <%= treatment.color %>">
          <%= __("Usefulness indications") %>
        </div>
        <div class="card-body">
          <% if(treatment.indications.length){ %>
          <ul>
            <% treatment.indications.forEach(function (ind) { %>
            <li class="text-capitalize list-yuma">
              <%= ind[viewBag.lang] %>
            </li>
            <% }) %>
          </ul>
          <% } %>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card">
        <div class="card-header text-uppercase" style="background-color: <%= treatment.color %>">
          <%= __("Contraindications side effects") %>
        </div>
        <div class="card-body">
          <% if(treatment.contraindications.length){ %>
          <ul>
            <% treatment.contraindications.forEach(function (ind) { %>
            <li class="text-capitalize list-yuma">
              <%= ind[viewBag.lang] %>
            </li>
            <% }) %>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <h2 class="text-uppercase">
    <%= __("When and how long") %>
  </h2>

  <div id="example" class="example pagespan col-xs-12">
    <div class="scrollbar col-xs-12">
      <div class="handle col-xs-12">
        <div class="mousearea col-xs-12"></div>
      </div>
    </div>


    <div class="frame col-xs-12" style="overflow: hidden;">
      <ul>
        <% for(var i = 0; i < daysData.days.length; i++) { %>
        <li class="<% daysData.days[i].active ? 'active' : null %>">
          <% if(daysData.days[i].active) { %>
          <i class="fa fa-heart col-xs-12" style="font-size:18px;margin-top: 10px;"></i>
          <% }else{ %>
          <div class="col-xs-12" style="height: 28px"></div>
          <% } %>
          <div class="clearfix"></div>
          <span class="nameD col-xs-12"><%= daysData.days[i].nameD %></span>
          <div class="clearfix"></div>
          <span><%= daysData.days[i].d %></span>
        </li>
        <% } %>
      </ul>
    </div>


    <div id="book_data" class="book_data col-xs-12">
      <div class="col-xs-12 col-md-4">
        <span class="text-uppercase col-xs-12 title"><%= __("section") %></span>
        <div class="clearfix"></div>
        <div class="col-xs-12 body">
          <div class="col-xs-2">
            <a id="prev_sessions" class="btn"><i class="book_data_icons fa fa fa-angle-left"
                                                 style="padding: 0px 0 0 8px;"></i></a>
          </div>
          <div class="col-xs-8">
            <span id="book_data_options_sessions" class="book_data_options text-uppercase col-xs-12"></span>
          </div>
          <div class="col-xs-2">
            <a id="next_sessions" class="btn">
              <i class="book_data_icons fa fa-angle-right" style="padding: 0 0 0 10px"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="text-uppercase col-xs-12 title"><%= __("starting at") %></span>
        <div class="clearfix"></div>
        <div class="col-xs-12 body">
          <div class="col-xs-2">
            <a id="prev_time" class="btn">
              <i class="book_data_icons fa fa fa-minus" style="padding: 2px 0 0 5px;"></i>
            </a>
          </div>
          <div class="col-xs-8">
            <span id="book_data_options_time" class="book_data_options col-xs-12"></span>
          </div>
          <div class="col-xs-2">
            <a id="next_time" class="btn">
              <i class="book_data_icons fa fa-plus" style="padding: 1px 0 0 4px;"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="text-uppercase col-xs-12 title"><%= __("duration") %></span>
        <div class="clearfix"></div>
        <div class="col-xs-12 body">
          <div class="col-xs-2">
            <a id="prev_price_time" class="btn">
              <i class="book_data_icons fa fa fa-minus" style="padding: 2px 0 0 4px;"></i>
            </a>
          </div>
          <div class="col-xs-8">
            <span id="ym-time" class="book_data_options text-uppercase col-xs-12"></span>
          </div>
          <div class="col-xs-2">
            <a id="next_price_time" class="btn">
              <i class="book_data_icons fa fa-plus" style="padding: 1px 0 0 4px;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br/><br/>


  <h2 class="text-uppercase">
    <%= __("Booking info") %>
  </h2>

  <div class="request-process" hidden>
    <i class="fa fa-spinner fa-spin "></i>
    Procesando solicitud
  </div>
  <div class="request-process-success" hidden>
    <i class="fa fa-check" aria-hidden="true"></i>
    Solicitud procesada con exito
  </div>
  <div class="request-process-error" hidden>
    <i class="fa fa-check" aria-hidden="true"></i>
    Lo sentmos, no se ha podido procesar la solicitud
  </div>

  <div class="col-xs-12 booking-info-parent">
    <div class="col-xs-12 col-md-8 booking-info">
      <p id="bi-text">

      </p>
      <h3><%= __("Key information") %></h3>
      <textarea id="kitext" class="col-xs-12"
                max="140"
                placeholder="<%= __("placeholder info") %>"
      ></textarea>
      <span>140 <%= __("caracters remaining") %></span>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="text-uppercase ym-info-txprice col-xs-12">Price</div>
      <div class="ym-info-price col-xs-12"></div>
      <div id="book-now" class="book-now text-uppercase col-xs-12">Book Now</div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
  <br/><br/>
  <div class="col-xs-12 complete-info booking-info">
      <h3><%= __("Key information") %></h3>
      <div class="col-xs-12 col-md-6">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre completo">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
      </div>
    
  </div>

</div>
