<div class="container">
  <div class="row" style="margin-top: 50px;padding-bottom: 30px;border-bottom: solid 1px #7c72b0;margin-top: 50px;">
    <div class="col-xs-12">
      <div>
        <img class="avatar-therapist" src="<%= therapist.medias[0].dir %>">
      </div>
      <div class="col-xs-8">
        <h2 class="text-uppercase" style="margin-top: 0">
          <%= therapist.firstname %>
          <%= therapist.lastname %>
        </h2>
        <p style="font-size: 18px">
          <%= therapist.therapist.yxp %>
          <%= __("Years experienced") %><br/>
          <%= therapist.email %><br/>
          <%= therapist.phone %><br/>
        </p>
        <div class="visible-xs">
          <% therapist.therapist.languages.forEach(function (__) { %>
          <% if(__ == "Es"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-es" title="es"
               id="es"></div>
          <% } %>
          <% if(__ == "Es"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-us" title="us"
               id="us"></div>
          <% } %>
          <% if(__ == "Fr"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-fr" title="fr"
               id="fr"></div>
          <% } %>
          <% if(__ == "It"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-it" title="it"
               id="it"></div>
          <% } %>
          <% if(__ == "De"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-de" title="de"
               id="de"></div>
          <% } %>
          <% if(__ == "Ru"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-ru" title="ru"
               id="ru"></div>
          <% } %>
          <% if(__ == "Pt"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-pt" title="pt"
               id="pt"></div>
          <% } %>
          <% }) %>
        </div>
      </div>
      <div class="col-md-2 hidden-xs">
        <div style="margin-top: 10px">
          <% therapist.therapist.languages.forEach(function (__) { %>
          <% if(__ == "Es"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-es" title="es"
               id="es"></div>
          <% } %>
          <% if(__ == "Es"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-us" title="us"
               id="us"></div>
          <% } %>
          <% if(__ == "Fr"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-fr" title="fr"
               id="fr"></div>
          <% } %>
          <% if(__ == "It"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-it" title="it"
               id="it"></div>
          <% } %>
          <% if(__ == "De"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-de" title="de"
               id="de"></div>
          <% } %>
          <% if(__ == "Ru"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-ru" title="ru"
               id="ru"></div>
          <% } %>
          <% if(__ == "Pt"){ %>
          <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-pt" title="pt"
               id="pt"></div>
          <% } %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br/>
  <div class="row">
    <p>
      <%= therapist.therapist.description[viewBag.lang] %>
    </p>
    <div class="clearfix"></div>
    <h2 class="text-uppercase">
      <%= __("Treatments") %>
    </h2>
    <br/>

    <% for(var i = 0; i < therapist.therapist.treatments.length; i++) { %>
    <div class="col-xs-12 col-md-4">
      <div class="card" style="border-top: solid 3px <%= therapist.therapist.treatments[i].color %>">
        <div class="">
          <img style="width: 100%" src="<%= therapist.therapist.treatments[i].medias[0].dir || '' %>">
        </div>
        <div class="card-body">
          <h4 class="text-uppercase"><%= therapist.therapist.treatments[i].name[viewBag.lang] %></h4>
          <hr/>
          <p class="description-container text-justify therapist-treatments-description">
            <%= therapist.therapist.treatments[i].description[viewBag.lang] %>
          </p>
          <a
            href="/<%= i18n("language") %>/request/<%= therapist.username %>/<%= therapist.therapist.treatments[i].slug %>"
            class="col-xs-12 btn-general-card">
            <%= __("Choose") %>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <% } %>

  </div>

  <div class="row" style="margin-top: 50px;border-bottom: solid 1px #7c72b0;">
    <h2 class="text-uppercase">
      <%= __("on schedule") %>
    </h2>
  </div>

  <div>
    <div class="clearfix"></div>
    <div class="ym-calendar">
      <div>
        <div class="calendar-header" style="border-bottom: solid #00ff41;color: #ffcf95">Domingo</div>
        <div class="calendar-header" style="border-bottom: solid #0ff;">Lunes</div>
        <div class="calendar-header" style="border-bottom: solid #0ff;">Martes</div>
        <div class="calendar-header" style="border-bottom: solid #0ff;">Miércoles</div>
        <div class="calendar-header" style="border-bottom: solid #0ff;">Jueves</div>
        <div class="calendar-header" style="border-bottom: solid #0ff;">Viernes</div>
        <div class="calendar-header" style="border-bottom: solid #00ff41;">Sábado</div>
      </div>
      <div class="clearfix"></div>
      <div class="card">
        <% for(var i = 0; i < therapist.calendar.length; i++) { %>
        <div class="calendar-day <% if(!therapist.calendar[i].thisM || therapist.calendar[i].lock){%>disabled <%}%> " <% if(therapist.calendar[i].events.length && !therapist.calendar[i].lock) {%> style="background-color: #808080;" <%}%>>
          <div class="calendar-day-header">
            <% if(therapist.calendar[i].events.length && !therapist.calendar[i].lock) { %>
            <div class="ym-icon">
              <i class="fa fa-heart" style="color: #00ffff"></i> <%= therapist.calendar[i].events.length %>
            </div>
            <div class="title">Available</div>
            <% } else if(therapist.calendar[i].lock) { %>
            <div class="ym-icon">
              <i class="fa fa-lock" style="color: #d0cdc7"></i> <%= therapist.calendar[i].events.length %>
            </div>
            <div class="title" style="color: #d0cdc7;">Locked</div>
            <% } %>
          </div>

          <div class="calendar-day-body">
            <h1 class="<% if(((i + 1) % 7) == 1){ %> sunday <% } %>"
                style="color: <% if(therapist.calendar[i].events.length && !therapist.calendar[i].lock) {%>#00ffff<%}%> <% if(therapist.calendar[i].lock) {%>#d0cdc7<%}%> ">
              <% if( therapist.calendar[i].day < 10){ %>
              0
              <% } %>
              <%= therapist.calendar[i].day %>
            </h1>
          </div>
        </div>
        <% if(((i + 1) % 7 && (i + 1) < 42) == 0){ %>
        <div class="clearfix"></div>
        <div class="ym-separator"></div>
        <% } %>
        <% } %>
      </div>
    </div>
  </div>
</div>


</div>
