<div class="container">
  <h2 class="margin-top"><img src="/images/Standard/ic_32px_therapists.png" srcset="/images/Retina/ic_32px_therapists@2x.png 2x">
    <%= __("Therapists") %>
  </h2>
  <p class="margin-bottom">
    <%= __("Our therapists are professionally qualified") %>
  </p>
  <div class="row">
      <% for(var i=0; i<therapists[1].length; i++) {%>
          <div class="col-xs-12 col-sm-4">
              <div class="anima-card therapist">
                <% if(therapists[1][i].medias[0]){ %>
                  <a href="/<%= i18n("language") %>/therapist/<%= therapists[1][i].username %>">
                    <img src="<%= therapists[1][i].medias[0].dir %>" width="100%"/>
                  </a>
                  
                <% }else{ %>
                  <a href="/<%= i18n("language") %>/therapist/<%= therapists[1][i].username %>">
                    <img src="/images/Admin/avatar.png" width="100%"/>
                  </a>
                <% } %>
                      <div class="card-body col-xs-12">
                        <div class="name">
                          <div class="single">
                              <a href="/<%= i18n("language") %>/therapist/<%= therapists[1][i].username %>">
                                <%= therapists[1][i].firstname %> <%= therapists[1][i].lastname %>
                              </a>
                          </div>
                          <a href="/<%= i18n("language") %>/therapist/<%= therapists[1][i].username %>">
                            <span class="glyphicon glyphicon-info-sign pull-right" aria-hidden="true"></span>
                          </a>
                        </div>
                        <div class="description-container">
                          <p>
                            <%= therapists[1][i].therapist.description[viewBag.lang] %>
                          </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bottom-card-opacity"></div>
                      </div>
                      <div class="line-separator"></div>
                      <div class="col-xs-12 xp-background">
                        <ul class="a">
                          <li>
                            <div class="inline">
                              <div class="text-center text-experience">
                                <%= __("Experience") %>
                              </div>
                              <div class="text-center text-years">
                                <%= therapists[1][i].therapist.yxp %>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="inline">
                              <div class="text-center text-experience">
                                <%= __("Languages") %>
                              </div>
                              <div class="text-center">
                                <% therapists[1][i].therapist.languages.forEach(function (__) { %>
                                  <%if(__=="Es"){%> 
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-es" title="es" id="es"></div>
                                  <% } %>
                                  <%if(__=="Es"){%> 
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-us" title="us" id="us"></div>                                  
                                  <% } %>
                                  <%if(__=="Fr"){%> 
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-fr" title="fr" id="fr"></div>                                 
                                  <% } %>
                                  <%if(__=="It"){%> 
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-it" title="it" id="it"></div>                                
                                  <% } %>
                                  <%if(__=="De"){%> 
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-de" title="de" id="de"></div>                                
                                  <% } %>
                                  <%if(__=="Ru"){%> 
                                    <div  style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-ru" title="ru" id="ru"></div>                               
                                  <% } %>
                                  <%if(__=="Pt"){%> 
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-pt" title="pt" id="pt"></div>                               
                                  <% } %>
                                <% }) %>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
  
                      <a  href="/<%= i18n("language") %>/therapist/<%= therapists[1][i].username %>" class="col-xs-12 btn-general-card"><%= __("Choose") %></a>
                      <div class="clearfix"></div>
              </div> 
              <div class="clearfix"></div> 
          </div>
          <% if(((i+1)%3)==0){ %>
          <div class="clearfix"></div>
          <% } %>
       <% } %>
  </div>
  <!-- <div class="text-center">
    <a href="#" class="paginate">
      <img src="/images/Standard/ic_therapists.png" srcset="/images/Retina/ic_therapists@2x.png 2x">
      <h4><%= __("See all therapists") %> ...</h4>
    </a>
  </div> -->

</div>
