<div class="container">
  <h2 class="margin-top"><img src="/images/Standard/ic_32px_treatments.png"
                              srcset="/images/Retina/ic_32px_treatments@2x.png 2x"><%= __("Treatments") %></h2>
  <p class="margin-bottom"><%= __("Treatments brought to your home, hotel or office") %></p>
  <div class="row">
    <% treatments[1].forEach(function (tr) { %>
    <div class="col-xs-12 col-sm-6">
      <div class="anima-card">
        <% if(tr.medias.length){ %>
          <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>">
            <img src="<%= tr.medias[0].dir %>"
            style="border-bottom: 2px solid <%= tr.color %>" width="100%">
          </a>
        <% } %>
        <div class="card-body col-xs-12">
          <div class="name">
            <div class="single" style="color:<%= tr.color %> ">
              <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>"><%= tr.name[viewBag.lang] %></a>
            </div>

            <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>">
            <span class="glyphicon glyphicon-info-sign pull-right"
                  aria-hidden="true"></span>
            </a>

          </div>
          <div class="description-container">
            <p><%- tr.description[viewBag.lang] %></p>
          </div>
          <div class="clearfix"></div>
          <div class="bottom-card-opacity"></div>
        </div>
        <div class="line-separator"></div>
        <div class="text-center">
          <a href="/<%= i18n("language") %>/treatment/<%= tr.slug %>" class="btn btn-card"><%= __("Choose") %></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <% }); %>
  </div>
  <!-- <div class="text-center">
    <a href="#" class="paginate">
      <img src="/images/Standard/ic_massage.png" srcset="/images/Retina/ic_massage@2x.png 2x">
      <h4><%= __("See all treatments") %> ...</h4>
    </a>
  </div> -->

</div>
