<div class="container">
  <div class="row" style="margin-top: 50px;padding-bottom: 30px;border-bottom: solid 1px #7c72b0;margin-top: 50px;">
    <div class="col-xs-12">
      <img class="col-xs-3 col-md-1" src="/images/Standard/ic_108px__home_sevices_treatments.png" srcset="/images/Retina/ic_108px__home_sevices_treatments@2x.png 2x">
      <div class="col-xs-8">
        <h2 class="text-uppercase" style="margin-top: 0">
          <%= treatment.name[viewBag.lang] %>
        </h2>
        <p style="font-size: 18px">
          <% if(treatment.prices.length) {%>
            <%= __("From") %> $
              <%= treatment.prices[0].price.toFixed(2) %>
                <%= __("Per") %>
                  <%= treatment.prices[0].time %>
                    <%= __("Minutes") %>
                      <% } %>
        </p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top:50px">
    <div class="col-xs-12 col-sm-6">
      <div class="animat-card">
        <% if(treatment.medias.length){ %>
          <img src="<%= treatment.medias[0].dir %>" style="border-bottom:none;border-top: 3px solid <%= treatment.color %>"
            width="100%">
          <% } %>
            <div class="card-body col-xs-12">
              <div class="name" style="border-bottom: solid 1px <%= treatment.color %>">
                <h3 class="text-uppercase" style="color:<%= treatment.color %> ">
                  <%= treatment.name[viewBag.lang] %>
                </h3>
              </div>
              <div class="description-container" style="margin-top: 10px;">
                <p class="text" style="font-size: 14px;text-align: justify;">
                  <%- treatment.description[viewBag.lang] %>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="bottom-card-opacity"></div>
            </div>
            <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header text-uppercase" style="background-color: <%= treatment.color %>">
            Indicaciones
          </div>
          <div class="card-body">
            <% if(treatment.indications.length){ %>
              <ul>
                <% treatment.indications.forEach(function (ind) { %>
                  <li class="text-capitalize list-yuma">
                    <%= ind[viewBag.lang] %>
                  </li>
                  <% }) %>
              </ul>
              <% } %>
          </div>

        </div>
      </div>
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header text-uppercase" style="background-color: <%= treatment.color %>">
            Contraindicaciones
          </div>
          <div class="card-body">
            <% if(treatment.contraindications.length){ %>
              <ul>
                <% treatment.contraindications.forEach(function (ind) { %>
                  <li class="text-capitalize list-yuma">
                    <%= ind[viewBag.lang] %>
                  </li>
                  <% }) %>
              </ul>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row" style="margin-top: 50px;padding-bottom: 30px;border-bottom: solid 1px #7c72b0;margin-top: 50px;">
    <div>
      <h2 class="text-uppercase">
        <%= __("Therapists") %>
      </h2>
    </div>
  </div>
  <div class="row">
    <% if(treatment.therapists.length){ %>
      <% for(var i=0; i<treatment.therapists.length; i++) {%>
          <div class="col-xs-12 col-sm-4">
              <div class="anima-card therapist">
                <% if(treatment.therapists[i].medias[0]){ %>
                  <a href="/<%= i18n("language") %>/request/<%= treatment.therapists[i].username %>/<%= treatment.slug %>">
                    <img src="<%= treatment.therapists[i].medias[0].dir %>" width="100%"/>
                  </a>
                <% }else{ %>
                    <img src="/images/Admin/avatar.png" width="100%"/>
                <% } %>
                      <div class="card-body col-xs-12">
                        <div class="name">
                          <div class="single">
                              <a href="/<%= i18n("language") %>/request/<%= treatment.therapists[i].username %>/<%= treatment.slug %>">
                                <%= treatment.therapists[i].firstname %> <%= treatment.therapists[i].lastname %>
                              </a>
                          </div>
                          <a href="/<%= i18n("language") %>/request/<%= treatment.therapists[i].username %>/<%= treatment.slug %>">
                            <span class="glyphicon glyphicon-info-sign pull-right" aria-hidden="true"></span>
                          </a>
                        </div>
                        <div class="description-container">
                          <p style="text-align: justify">
                            <%= treatment.therapists[i].therapist.description[viewBag.lang] %>
                          </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="bottom-card-opacity"></div>
                      </div>
                      <div class="line-separator"></div>
                      <div class="col-xs-12 xp-background">
                        <ul class="a">
                          <li>
                            <div class="inline">
                              <div class="text-center text-experience">
                                <%= __("Experience") %>
                              </div>
                              <div class="text-center text-years">
                                <%= treatment.therapists[i].therapist.yxp %>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="inline">
                              <div class="text-center text-experience">
                                <%= __("Languages") %>
                              </div>
                              <div class="text-center">
                                <% treatment.therapists[i].therapist.languages.forEach(function (__) { %>
                                  <%if(__=="Es"){%>
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-es" title="es" id="es"></div>
                                  <% } %>
                                  <%if(__=="Es"){%>
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-us" title="us" id="us"></div>
                                  <% } %>
                                  <%if(__=="Fr"){%>
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-fr" title="fr" id="fr"></div>
                                  <% } %>
                                  <%if(__=="It"){%>
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-it" title="it" id="it"></div>
                                  <% } %>
                                  <%if(__=="De"){%>
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-de" title="de" id="de"></div>
                                  <% } %>
                                  <%if(__=="Ru"){%>
                                    <div  style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-ru" title="ru" id="ru"></div>
                                  <% } %>
                                  <%if(__=="Pt"){%>
                                    <div style="width: 22px;height: 15px;" class="img-thumbnail flag flag-icon-background flag-icon-pt" title="pt" id="pt"></div>
                                  <% } %>
                                <% }) %>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <a href="/<%= i18n("language") %>/request/<%= treatment.therapists[i].username %>/<%= treatment.slug %>" class="col-xs-12 btn-general-card">
                        <%= __("Choose") %>
                      </a>
                      <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
          </div>
          <% if(((i+1)%3)==0){ %>
          <div class="clearfix"></div>
          <% } %>
       <% } %>
    <% } %>
  </div>

</div>
