<div class="card">
  <div class="card-head style-primary">
    <header>
      <span class="selected-day text-capitalize"></span>
      <small class="selected-date"></small>
    </header>
    <div class="tools">
      <div class="btn-group">
        <a id="calender-prev" ng-click="$ctrl.changePageCalendar('prev','ym-calendar')" class="btn btn-icon-toggle ink-reaction">
          <i class="fa fa-angle-left"></i>
        </a>
        <a id="calender-next" ng-click="$ctrl.changePageCalendar('next','ym-calendar')" class="btn btn-icon-toggle ink-reaction">
          <i class="fa fa-angle-right"></i>
        </a>
        <button ng-click="$ctrl.goToday('ym-calendar')" style="margin: 7px 0px 0px 10px;" type="button" class="btn ink-reaction btn-raised btn-xs btn-warning pull-right">
          Hoy
        </button>
      </div>
      <div class="btn-group pull-right">
      </div>

    </div>
    <ul class="nav nav-tabs tabs-text-contrast tabs-accent" data-toggle="tabs">
      <li ng-click="$ctrl.changeView('month','ym-calendar')" data-mode="month" ng-class="{'active':$ctrl.mode == 'month'}" class="active">
        <a href="#">Mes</a>
      </li>
      <li ng-click="$ctrl.changeView('agendaWeek','ym-calendar')" data-mode="agendaWeek" ng-class="{'active':$ctrl.mode == 'agendaWeek'}">
        <a href="#">Semana</a>
      </li>
      <li ng-click="$ctrl.changeView('agendaDay','ym-calendar')" data-mode="agendaDay" ng-class="{'active':$ctrl.mode == 'agendaDay'}">
        <a href="#">Día</a>
      </li>
    </ul>
  </div>
  <!--end .card-head -->
  <div class="card-body no-padding">
    <div ui-calendar="$ctrl.uiConfig.calendar" class="span8 calendar" calendar="ym-calendar" ng-model="$ctrl.eventSources"></div>
  </div>
  <!--end .card-body -->
</div>

<div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="simpleModalLabel">Eventos
          <span class="text-info" id="dayModalTitle"></span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="width: 106px;margin: 0 auto;">
            <div class="btn-group">
              <button ng-disabled="$ctrl.disableButton" type="button" class="btn ink-reaction btn-flat dropdown-toggle text-danger" data-toggle="dropdown"
                aria-expanded="false">
                Bloquear
                <i class="fa fa-caret-down text-default-light"></i>
              </button>
              <ul class="dropdown-menu animation-zoom" role="menu">
                <li ng-show="!$ctrl.canShow('Madrugada bloqueada')">
                  <a ng-click="$ctrl.addBlockEvent('daybreak')" href="#">Madrugada</a>
                </li>
                <li ng-show="!$ctrl.canShow('Mañana bloqueada')">
                  <a ng-click="$ctrl.addBlockEvent('morning')" href="#">Mañana</a>
                </li>
                <li ng-show="!$ctrl.canShow('Tarde bloqueada')">
                  <a ng-click="$ctrl.addBlockEvent('afternoon')" href="#">Tarde</a>
                </li>
                <li ng-show="!$ctrl.canShow('Noche bloqueada')">
                  <a ng-click="$ctrl.addBlockEvent('evening')" href="#">Noche</a>
                </li>
                <li ng-show="!$ctrl.canShow('Día bloqueado')">
                  <a ng-click="$ctrl.addBlockEvent('allDay')" href="#">Todo el día</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover">
            <tbody>
              <tr ng-repeat="event in $ctrl.eventsDay">
                <td ng-class="{'text-danger': event.type == 'block'}">{{event.title|uppercase}}</td>
                <td>{{event.start | date:"h:mma"}}</td>
                <td>{{event.end | date:"h:mma"}}</td>
                <td class="text-right">
                  <button ng-click="$ctrl.removeBlockEvent($index)" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top"
                    data-original-title="Delete row">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btn-mloading" ng-click="$ctrl.saveEventsDay()" type="button" class="btn ink-reaction btn-raised btn-primary btn-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading...">Salvar
          <div class="ink" style="top: 18px; left: 30.5156px;"></div>
        </button>
      </div>
    </div>
  </div>
</div>
