@font-face {
  font-family: 'Muli-Regualar';
  /*font-family: 'Muli', sans-serif;*/
  src: url('/styles/fonts/Muli-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  margin-top: 60px;
  font-family: 'Muli-Regualar';
}

/*a {
    color: white;
}*/

a:hover,
a:focus {
  color: #4f4563;
  text-decoration: none;
}

.container {
  /*padding-top: 90px;*/
}

.contact {
  background-color: #7d73b0;
  color: white;
  text-align: center;
  padding-bottom: 42px;
}

.contact .logo {
  border-radius: 50%;
  margin: -50% 0;
}

.contact h1 {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 80px;
}

.contact .qr {
  margin: 20px 0;
}

.contact .mail {
  font-size: 18px;
}

.contact .phones {
  font-size: 18px;
}

.background img {
  background-size: cover;
}

.promo {
  text-align: center;
}

.promo .assets {
  margin: 48px 0;
}

.promo .assets p {
  color: #7d73b0;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px 0;
}

.social {
  padding: 40px 0;
}

.copyright p {
  background-color: #7d73b0;
  color: white;
  padding: 6px 12px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

p {
  color: rgb(119, 115, 123);
  font-size: 14px;
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.footer_subscription_title {
  color: #615991;
  font-size: 16px;
  font-weight: 700;
}

.footer_subscription_subtitle {
  color: #969696;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7b6b8f;
}

.glyphicon-info-sign {
  font-size: 16px;
  cursor: pointer;
}

.border-bottom-violet {
  border-bottom: 2px solid #7b6b90;
}

.yuma-nav {
  background: white;
  box-shadow: 0 0px 3px #7c72b0;
  z-index: 1050;
  border-bottom: none;
}

.yuma-nav .navbar-header {
  height: 60px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.yuma-nav .navbar-header > div:last-child {
  position: relative;
  display: inline-block;
  float: right;
  right: 15px;
  border-left: 0;
  width: 2px;
  height: 60px;
  border-radius: 1px;
  padding: 0;
  margin: 0;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.yuma-nav .navbar-logo img {
  height: 50px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.yuma-nav .title {
  display: inline-block;
  color: #7a6a8f;
}

.yuma-nav .title-com {
  font-size: 12px;
  position: relative;
  top: 18px;
  left: 50px;
}

.yuma-nav .title-yuma {
  font-size: 32px;
  position: relative;
  top: 18px;
}

.yuma-nav .title-messege {
  font-size: 14px;
  position: relative;
  top: 6px;
  left: 10px;
}

.navbar-brand {
  padding: 5px 15px;
}

.yuma-nav.navbar-inverse .navbar-nav > li > a {
  color: #8e80a3;
  height: 60px;
  line-height: 30px;
}

.yuma-nav .navbar-nav > li.active > a,
.yuma-nav .navbar-nav > li > a:hover,
.yuma-nav .navbar-nav > .active > a:hover,
.yuma-nav .navbar-nav > .active > a:focus,
.yuma-nav .navbar-toggle,
.yuma-nav .navbar-toggle:hover,
.yuma-nav .navbar-toggle:focus {
  color: #8e80a3;
  background: none;
  border: none;
  opacity: 0.6;
}

.yuma-nav .navbar-nav {
  float: right;
}

.yuma-nav .nav > li > a > img {
  max-width: 30px;
}

.yuma-nav.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #7c72b0;
}

.yuma-carousel {
  /*height: 640px;*/
  width: 100%;
  margin-top: 60px;
  text-align: left;
  color: white;
  -webkit-transition: margin-top 0.5s;
  transition: margin-top 0.5s;
}

.yuma-carousel h2,
.yuma-carousel h3,
.yuma-carousel p {
  color: white;
}

.yuma-carousel p {
  font-size: 18px;
  text-align: left;
}

.headline_carousel {
  text-shadow: #333333;
}

.yuma-carousel .background {
  background: url('/images/Standard/img_photo_background.png') center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 999;
  width: 100%;
}

.yuma-carousel .background .back-layer {
  /*background: transparent;
  background: -webkit-linear-gradient(rgba(0, 0, 0, .6), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, .6), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, .6), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(255, 255, 255, 0));*/
  width: 100%;
  height: 500px;
}

.yuma-carousel .background .back-layer .container > div {
  margin-top: 5%;
}

.yuma-carousel .back-layer h2 {
  font-size: 50px;
}

.yuma-carousel button {
  border: none;
  margin-top: 30%;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
}

.yuma-carousel .booking-buttom .first-button {
  background-color: rgba(231, 231, 231, 0.8);
  color: #7b6b90;
  text-transform: uppercase;
}

.yuma-carousel .booking-buttom {
  text-align: left;
  margin-top: 30px;
  padding-left: 0;
}

.information-text {
  background-color: white;
  text-align: center;
}

.information-text p,
.information-text h3 {
  color: #7c72b0;
  text-align: center;
}

.information-text .container > *:first-child {
  margin-top: 40px;
}

.information-text .container > *:last-child {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 24px;
}

.padding-top {
  padding-top: 40px;
}

.width-total {
  width: 100%;
}

.btn-card,
.btn-card:hover,
.btn-card:focus {
  border: none;
  border-radius: 2px;
  width: 200px;
  background-color: #7b6b90;
  color: white;
  margin: 20px;
}

.right {
  float: right;
}

.see-more {
  color: #7b6b90;
}

.newsletter {
  background-color: #e6e6e6;
}

.newsletter .container > div {
  margin-top: 10px;
  margin-bottom: 0;
}

.form-control {
  height: 40px;
}

.btn {
  padding: 10px 12px;
  border-radius: 2px;
  text-transform: uppercase;
}

.newsletter button,
.newsletter button:hover,
.newsletter button:focus {
  border: none;
  background-color: #615991;
  color: white;
  width: 100%;
}

.footer {
  background: linear-gradient(45deg, rgba(53, 43, 68, 1) 0%, rgba(124, 115, 176, 1) 100%);
  border-top: 1px solid #7a6a8f;
  color: white;
}

.r-padding-left {
  padding-left: 0;
}

.footer a {
  color: white;
}

.footer .yuma-email,
.footer .yuma-phone {
  font-size: 14px;
}

.footer .yuma-email:hover,
.footer .yuma-email:focus,
.footer .yuma-phone:hover,
.footer .yuma-phone:focus {
  color: #9984b1;
}

.footer .nav-pills a:hover,
.footer .nav-pills a:focus {
  background-color: transparent;
  color: #9984b1;
}

.footer .language a,
.footer .language a:hover,
.footer .language a:focus {
  background-color: transparent;
  color: #9984b1;
  font-size: large;
  margin-right: 10px;
}

.footer .language a.active {
  color: white;
}

.footer .container > div {
  margin-bottom: 10px;
  margin-top: 20px;
}

.footer .container > div.fix-links {
  margin-bottom: 10px;
  margin-top: 0px;
}

.footer .container > div:last-child {
  margin-bottom: 40px;
  margin-top: 0px;
}

.background-404 {
  margin-top: 0;
  background-image: url('/images/Standard/img_photo_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.background-404 > div:first-child {
  background: transparent;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
}

.background-404 h1,
.background-404 h2,
.background-404 p {
  color: white;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

@media screen and (max-width: 433px) {
  .error-actions .btn:last-child {
    margin-top: 10px;
  }

  #TA_rated883.pull-right {
    text-align: center;
    float: left !important;
  }
}

@media screen and (max-width: 767px) {
  .yuma-nav .navbar-nav {
    float: inherit;
  }

  #TA_rated883.pull-right {
    text-align: center;
    float: left !important;
  }

  .footer .right {
    float: left;
  }

  .xs-text-center {
    text-align: center;
  }

  .xs-center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .yuma-nav .navbar-header,
  .yuma-nav.navbar-inverse .navbar-nav > li > a {
    height: 50px;
  }

  .yuma-nav .navbar-logo img {
    height: 40px;
  }

  .yuma-carousel {
    margin-top: 50px;
  }

  .newsletter button {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .yuma-nav .navbar-header > div:last-child {
    border-left: 2px solid #bcb5c7;
    height: 50px;
  }

  body {
    margin-top: 50px;
  }
}

.container.fix-index {
  background-color: white;
  top: -100px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 1040;
}

.container.fix-index .in {
  position: relative;
}

.anima-card {
  background-color: #ffffff;
  /*border-radius: 4px;
  box-shadow: 0 15px 35px rgba(23,55,87,.1), 0 5px 15px rgba(0,0,0,.07);*/
  /*box-shadow: 0.67px 0.67px 2.68px #caccce;*/
  /*border-radius: 0 0 2px 2px;*/
  margin-bottom: 80px;
  /*border: 1px solid rgba(88, 43, 52, 0.14);*/
}

.animat-card {
  /* position: relative; */
  margin-bottom: 24px;
  background-color: #ffffff;
  color: #313534;
  /* border-radius: 2px; */
  /* -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.anima-card.therapist {
  border: none;
  /*box-shadow: 0 15px 35px rgba(23,55,87,.1), 0 5px 15px rgba(0,0,0,.07);*/
}

.anima-card .card-body {
  background-color: #ffffff;
  border-radius: 0 0 2px 2px;
  margin-bottom: 10px;
  position: relative;
}

.anima-card .card-body .description-container {
  height: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.anima-card .card-body .name {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #352b43;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 5px;
  overflow: hidden;
  padding-top: 10px;
  height: 40px;
}

.anima-card .card-body .name .single {
  width: 90%;
  float: left;
}

.anima-card .card-body .name span {
  color: #7b6b90;
  line-height: 40px;
  width: 6%;
}

.anima-card img {
  border-bottom: 2px solid #7b6b90;
}

.anima-card .bottom-card-opacity {
  position: absolute;
  width: 95%;
  bottom: 0;
  height: 40px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.line-separator {
  width: 100%;
  height: 1px;
  color: #7b6b90;
}

.xp-background {
  background: #f2f2f2;
  text-align: left;
}

.inline {
  display: inline-block;
}

ul.a li {
  display: inline-block;
  margin: 0.16em 0.7em;
}

ul.a li .text-center p {
  display: inline;
}

.btn-general-card {
  border: none;
  text-align: center;
  border-radius: 1px;
  background-color: #7b6b90;
  color: white;
  line-height: 40px;
}

.paginate h4 {
  color: #7b6b90;
}

.headline_centered_title {
  color: #7b6b90;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.headline_centered_subtitle {
  color: #7b6b90;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.about_padding {
  padding: 14px;
}

.services_margin-top {
  margin-top: -20px;
}

.home_cards_margin_button {
  margin-bottom: 40px;
}

.tripadvisor_widget_padding {
  padding-right: 20px;
}

.container .partner {
  margin: 10px auto;
}

.container .partner img {
  filter: grayscale(1);
}

.container .partner img:hover,
.container .partner img:focus {
  filter: grayscale(0);
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #7b6b90;
}

.card {
  /* position: relative; */
  margin-bottom: 24px;
  background-color: #ffffff;
  color: #313534;
  /* border-radius: 2px; */
  /* -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.card .card-header {
  padding: 10px;
  color: #ffffff;
}

.card .card-body {
  padding: 10px;
}

.card .card-body ul {
  list-style: none;
}

.card .card-body ul li {
  border-bottom: solid 1px #b7b2ac;
  color: rgb(119, 115, 123);
  padding: 5px 0px;
}

.avatar-therapist {
  border: solid 1px;
  height: 120px;
  width: 120px;
  float: left;
  border-radius: 50%;
}

.therapist-treatments-description {
  height: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ym-calendar {
  margin-top: 50px;
}

.calendar-header {
  width: 14.28%;
  float: left;
  text-align: center;
  font-size: 21px;
  color: #807d78;
}

.calendar-day {
  width: 14.28%;
  float: left;
}

.calendar-day:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.calendar-day.disabled:hover {
  cursor: default;
  box-shadow: 0 0 0 0;
}

.calendar-day.select {
  width: 14.28%;
  float: left;
  background-color: #807d78;
}

.calendar-day-header {
  width: 100%;
  height: 55px;
}

.calendar-day-header .ym-icon {
  text-align: center;
  padding: 5px 0 0 0;
  color: #fff;
  font-size: 20px;
}

.calendar-day-header .title {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.calendar-day-body {
  text-align: center;
  width: 100%;
}

.calendar-day-body h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
  color: #9a9691;
}

.calendar-day.disabled .calendar-day-body h1 {
  color: #d0cdc7;
}

.calendar-day-body h1.sunday {
  color: #ffcf95;
}

.ym-separator {
  width: 100%;
  float: left;
  background-color: #e8e7e4;
  height: 1px;
}

.request-day {
  border: solid 1px;
  width: 12.5%;
  float: left;
}

.direction-request-days {
  border: solid 1px;
  width: 6.25%;
  float: left;
}

/* Header style */
header.projecttitle {
  margin: 0 auto;
  padding: 115px 0 80px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #3e404a;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.04) 2px, transparent 2px),
  linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, transparent 100px);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.04) 2px, transparent 2px),
  linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, transparent 100px);
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.04) 2px, transparent 2px),
  linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, transparent 100px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px, center bottom;
}

header .projectname {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.download {
  margin-top: -45px;
}

/* Header example */
.example {
  margin: 0px auto 40px;
}

.example button,
.example button {
  background: transparent;
  border: 0;
  color: #fff;
  opacity: 0.5;
}

.example button:hover,
.example button:hover {
  opacity: 1;
}

.example button:disabled,
.example button:disabled {
  opacity: 0.2;
}

.example .forward,
.example .backward {
  float: left;
  width: 100px;
  height: 200px;
  font-size: 60px;
}

.example .forward {
  float: right;
}

.example .frame {
  margin: 0 auto;
  width: 100%;
  height: 134px;
  overflow: hidden;
  text-shadow: none;
}

.example .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}

.example .frame ul li {
  float: left;
  width: 134px;
  height: 100%;
  margin: 0 1px 0 0;
  padding: 0;
  background: #eee;
  color: #9a9691;
  text-align: center;
  cursor: pointer;
}

.example .frame ul li.active {
  color: #00ffff;
  background: #807d78;
}

.example .scrollbar {
  margin: 0 auto 30px;
  width: 940px;
  height: 2px;
  line-height: 0;
}

.example .scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #fff;
  cursor: pointer;
}

.example .scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

.example .pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.example .pages li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.example .pages li:hover {
  background: #aaa;
}

.example .pages li.active {
  background: #666;
}

.example .controls {
  margin: 50px 0 0;
  text-align: center;
}

.example .controls .divider {
  display: inline-block;
  margin: 0 10px;
}

.example .controls button {
  line-height: 32px;
  vertical-align: middle;
  font-family: Novecento, sans-serif;
}

.example .controls button i {
  position: relative;
  top: -2px;
  margin: 5px;
  padding: 0;
  font-size: 32px;
  vertical-align: middle;
}

.nameD {
  font-size: 18px;
  text-align: center;
}

.book_data {
  background: #807d78;
  padding-bottom: 15px;
}

.book_data .title {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 0 0;
  color: #fff;
}

.book_data .title i {
  color: #fff;
}

.book_data .body {
  margin-top: 20px;
}

.book_data_icons {
  border: solid 1px #9a9691;
  border-radius: 50%;
  color: #00ffff;
  width: 28px;
  height: 28px;
  font-size: 24px !important;
  margin-top: 2px;
}

.book_data_options {
  color: #00ffff;
  text-align: center;
  font-size: 24px;
}

#prev_sessions {
  padding: 0;
  text-align: inherit;
}

#prev_sessions:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#next_sessions {
  padding: 0;
  text-align: inherit;
}

#next_sessions:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#next_time {
  padding: 0;
  text-align: inherit;
}

#next_time:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#prev_time {
  padding: 0;
  text-align: inherit;
}

#prev_time:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#next_price_time {
  padding: 0;
  text-align: inherit;
}

#next_price_time:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#prev_price_time {
  padding: 0;
  text-align: inherit;
}

#prev_price_time:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 767px) {
  .calendar-header {
    font-size: 10px;
  }

  .calendar-day-header .ym-icon {
    font-size: 9px;
  }

  .calendar-day-body h1 {
    font-size: 30px;
  }

  .calendar-day-header .title {
    font-size: 9px;
  }
}

.list-yuma {
  list-style: inside;
  border: none !important;
  margin-left: 10px;
}

.booking-info {
  background-color: #7d6fa7;
}

.booking-info p {
  font-size: 20px;
  color: white;
  padding: 10px 25px 0px 0px;
}

.booking-info h3 {
  color: white;
}

.booking-info textarea {
  padding-top: 10px;
  background-color: #7d6fa7;
  border: solid 1px white;
  color: white;
}

.booking-info span {
  color: #cfc7db;
  font-size: 16px;
  float: left;
  margin-bottom: 10px;
}

.booking-info-parent {
  padding: 0;
  border-top: solid 2px #7d6fa7;
  border-bottom: solid 2px #7d6fa7;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.ym-info-txprice {
  font-size: 20px;
  color: #a29e98;
  text-align: right;
}

.ym-info-price {
  font-size: 70px;
  color: #ffab33;
  text-align: right;
}

.book-now {
  font-size: 40px;
  background-color: #ffab33;
  color: #fff;
  text-align: center;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #fff;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: #fff;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #fff;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.request-process {
  background-color: #7d6ea7;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.request-process-success {
  background-color: #efab31;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.request-process-error {
  background-color: #e95e5d;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

