<section ng-controller="UsersController as vm">
  <div class="section-body">
    <!-- BEGIN RESPONSIVE TABLE 1 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-bordered style-primary">
          <div class="card-head">
            <div class="tools" style="margin-top: 10px">
              <div class="btn-group">
                <a ng-show="vm.showView =='list'" ng-click="vm.changeView('add')" class="btn btn-icon-toggle btn-close ym-tooltip" data-toggle="tooltip"
                  data-placement="top" data-original-title="Adicionar" style="line-height: 30px;">
                  <i class="md md-person-add"></i>
                </a>
                <a ng-show="vm.showView =='add' || vm.showView =='edit'" ng-click="vm.changeView('list')" class="btn btn-icon-toggle btn-close ym-tooltip"
                  data-toggle="tooltip" data-placement="top" data-original-title="Listar" style="line-height: 30px;">
                    <i class="md md-list"></i>
                  </a>
              </div>
            </div>
            <header ng-hide="vm.showView =='edit'" style="margin-top: 8px;"><i style="padding-bottom: 6px;" class="md md-people"></i> Usuarios</header>
            <header ng-show="vm.showView =='edit'" style="margin-top: 8px;"><i style="padding-bottom: 6px;" class="md md-person"></i> {{vm.user.username}}</header>
          </div>
          <!--end .card-head -->
          <div class="card-body style-default-bright">
            <div ng-show="vm.showView =='list'" class="table-responsive">
              <table class="table table-condensed no-margin table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Nombre/s</th>
                    <th>Apellido/s</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th class="text-right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in vm.users">
                    <td>{{$index+1+vm.offset}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td><em>{{user.email}}</em></td>
                    <td>
                      <span class="opacity-50">
                                        <span class="glyphicon glyphicon-phone text-sm"></span> &nbsp;{{user.phone}}
                      </span>
                    </td>
                    <td class="text-right">
                      <button ng-click="vm.active(user)" ng-hide="user.active" type="button" class="btn btn-icon-toggle ym-tooltip" data-toggle="tooltip"
                        data-placement="top" data-original-title="Activar"><i class="fa fa-circle-o"></i></button>
                      <button ng-click="vm.active(user)" ng-show="user.active" type="button" class="btn btn-icon-toggle ym-tooltip" data-toggle="tooltip"
                        data-placement="top" data-original-title="Desactivar"><i class="fa fa-check-circle-o"></i></button>

                      <button ng-click="vm.edit(user)" type="button" class="btn btn-icon-toggle ym-tooltip" data-toggle="tooltip" data-placement="top"
                        data-original-title="Editar"><i class="fa fa-pencil"></i></button>
                      <button ng-disabled="user.isAdmin" ng-click="vm.alertRemove(user)" type="button" class="btn btn-icon-toggle ym-tooltip"
                        data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br/><br/>
              <ul style="margin: 0 20px 10px 0;" class="pull-right" uib-pagination boundary-links="true" total-items="vm.totalItems"
                ng-model="vm.currentPage" class="pagination-sm" previous-text="&lsaquo;" ng-change="vm.pageChanged()"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>

            <form ng-show="vm.showView =='add'" name="addUser" class="form form-validate" ng-submit="vm.add()" novalidate="novalidate">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input ng-model="vm.user.firstname" ng-validate="customRequired" type="text" class="form-control" id="Firstname">
                    <label for="Firstname">Nombre/s</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input ng-model="vm.user.lastname" ng-validate="customRequired" type="text" class="form-control" id="Lastname">
                    <label for="Lastname">Apellido/s</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input ng-model="vm.user.username" ng-validate="customRequired" type="text" class="form-control" id="Username">
                    <label for="Username">Usuario</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input ng-model="vm.user.email" type="email" class="form-control" id="Lastname2">
                    <label for="Lastname2">Email</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input ng-model="vm.user.phone" ng-validate="customRequired" type="text" class="form-control" id="Phone">
                    <label for="Phone">Teléfono</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <label class="radio-inline radio-styled">
                            <input ng-checked="vm.user.gender == 'male'" 
                              ng-click="vm.user.gender = 'male'" 
                              type="radio" name="gender">
                            <span>Masculino</span>
                          </label>
                    <label class="radio-inline radio-styled">
                            <input ng-checked ="vm.user.gender == 'female'" 
                              ng-click="vm.user.gender = 'female'" 
                              type="radio" name="gender">
                            <span>Femenino</span>
                          </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input ng-model="vm.user.password" ng-validate="customRequired" type="password" class="form-control" id="Password">
                    <label for="Password">Contraseña</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div id="r_password" class="form-group">
                    <input ng-model="vm.user.r_password" ng-validate="customEqualPassword,vm.user.password" type="password" class="form-control"
                      id="RPassword">
                    <label for="RPassword">Repetir contraseña</label>
                  </div>
                </div>
              </div>
              <div class="card-actionbar-row">
                <button id="btn-add-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                  data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                  Crear usuario
                </button>
              </div>
            </form>



            <div ng-show="vm.showView =='edit'">

              <ul class="nav nav-tabs" data-toggle="tabs">
                <li ng-click="vm.showTab ='tab1'" ng-class="{active : vm.showTab=='tab1'}"><a href="#tab1">Datos de usuario</a></li>
                <li ng-click="vm.showTab ='tab2'" ng-class="{active : vm.showTab=='tab2'}" class=""><a href="#tab2">Contraseña</a></li>
              </ul>
              <div class="tab-content">
                <div ng-class="{active : vm.showTab=='tab1'}" class="tab-pane" id="tab1">
                  <br/><br/>
                  <form name="editUser" class="form form-validate" ng-submit="vm.save()" novalidate="novalidate">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input ng-model="vm.user.firstname" ng-validate="customRequired" type="text" class="form-control" id="Firstname">
                          <label for="Firstname">Nombre/s</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input ng-model="vm.user.lastname" ng-validate="customRequired" type="text" class="form-control" id="Lastname">
                          <label for="Lastname">Apellido/s</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input ng-model="vm.user.email" type="email" class="form-control" id="Lastname2">
                          <label for="Lastname2">Email</label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input ng-model="vm.user.phone" ng-validate="customRequired" type="text" class="form-control" id="Phone">
                          <label for="Phone">Teléfono</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div>
                          <label class="radio-inline radio-styled">
                                        <input ng-checked="vm.user.gender == 'male'" 
                                          ng-click="vm.user.gender = 'male'" 
                                          type="radio" name="gender">
                                        <span>Masculino</span>
                                      </label>
                          <label class="radio-inline radio-styled">
                                        <input ng-checked ="vm.user.gender == 'female'" 
                                          ng-click="vm.user.gender = 'female'" 
                                          type="radio" name="gender">
                                        <span>Femenino</span>
                                      </label>
                        </div>
                      </div>
                    </div>
                    <div class="card-actionbar-row">
                      <button id="btn-save-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                              Salvar usuario
                            </button>
                    </div>
                  </form>
                </div>
                <div ng-class="{active : vm.showTab=='tab2'}" class="tab-pane" id="tab2">
                  <br/><br/>
                  <form name="passUser" class="form form-validate" ng-submit="vm.changePass()" novalidate="novalidate">
                    <div class="row">
                      <div class="col-sm-4" ng-hide="$root.currentUser.isAdmin">
                        <div class="form-group">
                          <input ng-model="vm.user.old_password" ng-validate="customRequired" type="password" class="form-control" id="OldPassword">
                          <label for="OldPassword">Contraseña vieja</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input ng-model="vm.user.password" ng-validate="customRequired" type="password" class="form-control" id="Password">
                          <label for="Password">Nueva contraseña</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div id="rr_password" class="form-group">
                          <input ng-model="vm.user.r_password" type="password" class="form-control" id="RRPassword">
                          <label for="RPassword">Repetir nueva contraseña</label>
                        </div>
                      </div>
                    </div>
                    <div class="card-actionbar-row">
                      <button id="btn-pass-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                        data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                              Cambiar contraseña
                            </button>
                    </div>
                  </form>
                </div>
              </div>

            </div>



          </div>
          <!--end .card-body -->
        </div>
      </div>
      <!--end .col -->
    </div>
    <!--end .row -->
    <!-- END RESPONSIVE TABLE 1 -->
  </div>
  <!--end .section-body -->

  <!-- BEGIN SIMPLE MODAL MARKUP -->
  <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="simpleModalLabel">
            Eliminar usuario
          </h4>
        </div>
        <div class="modal-body">

          <div class="alert alert-callout alert-danger" role="alert">
            <strong>{{vm.user.firstname}} {{vm.user.lastname}} ({{vm.user.username}})</strong>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-click="vm.removeAlertRemove()" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
          <button ng-click="vm.destroy()" type="button" class="btn btn-danger btn-sm">Confirmar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- END SIMPLE MODAL MARKUP -->
</section>
