<div ng-controller="DashboardController as vm" ng-cloak>
  <!-- BEGIN HEADER-->
  <header id="header">
    <div class="headerbar">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="headerbar-left">
        <ul class="header-nav header-nav-options">
          <li class="header-nav-brand">
            <div class="brand-holder">
              <a href="#">
                <img class="" src="/images/Standard/img_190px_menu_logo.png" srcset="/images/Retina/img_190px_menu_logo@2x.png 2x">

					</a>
            </div>
          </li>
          <li>
            <a class="btn btn-icon-toggle menubar-toggle" ng-click="$root.toggle()" data-toggle="menubar" href="#">
					  <i class="fa fa-bars"></i>
					</a>
          </li>
        </ul>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="headerbar-right">
        <ul class="header-nav header-nav-profile">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
					<img src="/images/Admin/avatar1.jpg?1403934956" alt="" />
					<span class="profile-info">
					 {{$root.currentUser.firstname}} {{$root.currentUser.lastname}}
					  <small>{{$root.currentUser.isAdmin ? "Administrador" : $root.currentUser.isTherapist ? "Terapeuta" : "Usuario"}}</small>
					</span>
				  </a>
            <ul class="dropdown-menu animation-dock">
              <li class="dropdown-header">Configuración</li>
              <li><a ng-click="$root.logout()" href="#"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
            </ul>
            <!--end .dropdown-menu -->
          </li>
          <!--end .dropdown -->
        </ul>
      </div>
      <!--end #header-navbar-collapse -->
    </div>
  </header>
  <!-- END HEADER-->

  <!-- BEGIN BASE-->
  <div id="base">

    <!-- BEGIN CONTENT-->
    <div id="content">
      <ui-view></ui-view>
    </div>
    <!--end #content-->

    <!-- BEGIN MENUBAR-->
    <div id="menubar" class="menubar-inverse  animate">
      <div class="menubar-fixed-panel">
        <div>
          <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
									<i class="fa fa-bars"></i>
								</a>
        </div>
        <div class="expanded">
          <a href="../../html/dashboards/dashboard.html">
									<span class="text-lg text-bold text-primary ">YUMA&nbsp;MASSAGE</span>
								</a>
        </div>
      </div>
      <div class="menubar-scroll-panel">

        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">

          <!-- BEGIN DASHBOARD -->
          <li ng-class="{active:$root.page=='home'}">
            <a ui-sref="admin.home">
              <div class="gui-icon"><i class="md md-home"></i></div>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <!--end /menu-li -->
          <!-- END DASHBOARD -->

          <li ng-show="$root.currentUser.isTherapist" ng-class="{active:$root.page=='profile'}">
            <a ui-sref="admin.profile">
              <div class="gui-icon"><i class="md md-person"></i></div>
              <span class="title">Perfil</span>
            </a>
          </li>
          <li ng-show="$root.currentUser.isAdmin" ng-class="{active:$root.page=='users'}">
            <a ui-sref="admin.users">
              <div class="gui-icon"><i class="md md-people"></i></div>
              <span class="title">Usuarios</span>
            </a>
          </li>
          <li ng-show="$root.currentUser.isAdmin" ng-class="{active:$root.page =='therapists'}">
            <a ui-sref="admin.therapists">
              <div class="gui-icon"><i class="md md-people-outline"></i></div>
              <span class="title">Terapeutas</span>
            </a>
          </li>
          <li ng-show="$root.currentUser.isAdmin" ng-class="{active:$root.page =='massages'}">
            <a ui-sref="admin.massages">
              <div class="gui-icon"><i class="fa fa-paw"></i></div>
              <span class="title">Masajes</span>
            </a>
          </li>
          
          <!-- <li>
            <a href="#">
              <div class="gui-icon"><i class="md md-settings"></i></div>
              <span class="title">Configuración</span>
            </a>
          </li> -->
        </ul>
        <!--end .main-menu -->
        <!-- END MAIN MENU -->

        <div class="menubar-foot-panel">
          <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright &copy; 2017</span> <strong>YumaMassage</strong>
                    </small>
        </div>
      </div>
      <!--end .menubar-scroll-panel-->
      <!--end .menubar-scroll-panel-->
    </div>
    <!--end #menubar-->
    <!-- END MENUBAR -->

  </div>
  <!--end #base-->
  <!-- END BASE -->
</div>
