<section ng-controller="ProfileController as vm">
    <div class="section-body">
      <!-- BEGIN RESPONSIVE TABLE 1 -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-bordered style-primary">
            <div class="card-head">
              <div class="tools" style="margin-top: 10px">
                <div class="btn-group">
                  <a ng-show="vm.showView =='list'" ng-click="vm.changeView('add')" class="btn btn-icon-toggle btn-close ym-tooltip" data-toggle="tooltip"
                    data-placement="top" data-original-title="Adicionar" style="line-height: 30px;">
                    <i class="md md-person-add"></i>
                  </a>
                  <a ng-show="vm.showView =='add' || vm.showView =='edit' || vm.showView =='calendar'" ng-click="vm.changeView('list')" class="btn btn-icon-toggle btn-close ym-tooltip"
                    data-toggle="tooltip" data-placement="top" data-original-title="Listar" style="line-height: 30px;">
                    <i class="md md-list"></i>
                  </a>
                </div>
              </div>
              <header style="margin-top: 8px;">
                <i style="padding-bottom: 6px;" class="md md-person"></i> {{$root.currentUser.firstname}} {{$root.currentUser.lastname}}</header>

            </div>
            <!--end .card-head -->
            <div class="card-body style-default-bright">  
              <div ng-show="vm.showView =='edit'">
                <ul class="nav nav-tabs" data-toggle="tabs">
                  <li ng-click="vm.showTab ='tab1'" ng-class="{active : vm.showTab=='tab1'}">
                    <a href="#tab1">Datos de usuario</a>
                  </li>
                  <li ng-click="vm.showTab ='tab2'" ng-class="{active : vm.showTab=='tab2'}" class="">
                    <a href="#tab2">Contraseña</a>
                  </li>
                  <li ng-click="vm.showTab ='tab3'" ng-class="{active : vm.showTab=='tab3'}" class="">
                    <a href="#tab3">Terapistas</a>
                  </li>
                  <li ng-click="vm.showTab ='tab4'" ng-class="{active : vm.showTab=='tab4'}" class="">
                    <a href="#tab4">Avatar</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div ng-class="{active : vm.showTab=='tab1'}" class="tab-pane" id="tab1">
                    <br/>
                    <br/>
                    <form name="editUser" class="form form-validate" ng-submit="vm.save()" novalidate="novalidate">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input ng-model="$root.currentUser.firstname" ng-validate="customRequired" type="text" class="form-control" id="Firstname">
                            <label for="Firstname">Nombre/s</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input ng-model="$root.currentUser.lastname" ng-validate="customRequired" type="text" class="form-control" id="Lastname">
                            <label for="Lastname">Apellido/s</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input ng-model="$root.currentUser.email" type="email" class="form-control" id="Lastname2">
                            <label for="Lastname2">Email</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input ng-model="$root.currentUser.phone" ng-validate="customRequired" type="text" class="form-control" id="Phone">
                            <label for="Phone">Teléfono</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div>
                            <label class="radio-inline radio-styled">
                              <input ng-checked="$root.currentUser.gender == 'male'" ng-click="$root.currentUser.gender = 'male'" type="radio" name="gender">
                              <span>Masculino</span>
                            </label>
                            <label class="radio-inline radio-styled">
                              <input ng-checked="$root.currentUser.gender == 'female'" ng-click="$root.currentUser.gender = 'female'" type="radio" name="gender">
                              <span>Femenino</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="card-actionbar-row">
                        <button id="btn-save-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                          data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                          Salvar usuario
                        </button>
                      </div>
                    </form>
                  </div>
                  <div ng-class="{active : vm.showTab=='tab2'}" class="tab-pane" id="tab2">
                    <br/>
                    <br/>
                    <form name="passUser" class="form form-validate" ng-submit="vm.changePass()" novalidate="novalidate">
                      <div class="row">
                        <div class="col-sm-4" ng-hide="$root.currentUser.isAdmin">
                          <div class="form-group">
                            <input ng-model="$root.currentUser.old_password" ng-validate="customRequired" type="password" class="form-control" id="OldPassword">
                            <label for="OldPassword">Contraseña vieja</label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <input ng-model="$root.currentUser.password" ng-validate="customRequired" type="password" class="form-control" id="Password">
                            <label for="Password">Nueva contraseña</label>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div id="rr_password" class="form-group">
                            <input ng-model="$root.currentUser.r_password" type="password" class="form-control" id="RRPassword">
                            <label for="RPassword">Repetir nueva contraseña</label>
                          </div>
                        </div>
                      </div>
                      <div class="card-actionbar-row">
                        <button id="btn-pass-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                          data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                          Cambiar contraseña
                        </button>
                      </div>
                    </form>
                  </div>
                  <div ng-class="{active : vm.showTab=='tab3'}" class="tab-pane" id="tab3">
                    <br/>
                    <br/>
                    <form name="therapistForm" class="form form-validate" ng-submit="vm.savet()" novalidate="novalidate">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <textarea style="font-size: 13px" ng-model="$root.currentUser.therapist.description.es" ng-validate="customRequired" name="DescriptionEs" class="form-control"
                              rows="3" placeholder=""></textarea>
                            <label for="NameEs">Descripción(es)</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <textarea style="font-size: 13px" ng-model="$root.currentUser.therapist.description.en" ng-validate="customRequired" name="DescriptionEn" class="form-control"
                              rows="3" placeholder=""></textarea>
                            <label for="NameEn">Descripción(en)</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input ng-model="$root.currentUser.therapist.yxp" ng-validate="customRequired" type="number" class="form-control">
                            <label for="yxp">Años de experiencia</label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group" id="yme_languages">
                            <input class="form-control" type="hidden" ui-select2="vm.select2Options" ng-model="$root.currentUser.therapist.languages">
                            <label>Idiomas</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
  
                        <div class="col-sm-6">
                          <h2 class="text-primary">
                            <i class="fa fa-paw"></i> Masajes
                            <a ng-click="vm.showMassages()" class="btn btn-close ym-tooltip pull-right btn-accent btn-floating-action btn-sm" data-toggle="tooltip"
                              data-placement="top" data-original-title="Adicionar" style="line-height: 30px;margin-right: 10px;">
                              <i class="md md-add"></i>
                            </a>
                          </h2>
  
                          <div class="form-group">
                            <table class="table table-condensed no-margin">
                              <tbody>
                                <tr ng-repeat="treatment in $root.currentUser.therapist.treatments">
                                  <td>{{treatment.name.es}}</td>
                                  <td class="text-right">
                                    <button ng-click="vm.destroyMassage(treatment.id)" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top"
                                      data-original-title="Delete row">
                                      <i class="fa fa-trash-o"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
  
                      </div>
                      <div class="card-actionbar-row">
                        <button id="btn-savet-loading-state" type="submit" style=" color: #7c72b0 !important;" class="btn btn-flat btn-primary ink-reaction"
                          data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando...">
                          Salvar terapeuta
                        </button>
                      </div>
                    </form>
                  </div>
                  <div ng-class="{active : vm.showTab=='tab4'}" class="tab-pane" id="tab4">
                    <br/>
                    <br/>
                    <div class="col-md-3">
                      <img ng-show="!$root.currentUser.medias[0]" class="img-circle border-white border-xl img-responsive auto-width ym-admin-avatar" src="/images/Admin/avatar.png"
                        alt="">
                      <img ng-show="$root.currentUser.medias[0]" class="img-circle border-white border-xl img-responsive auto-width ym-admin-avatar" ng-src="/admin/media/{{$root.currentUser.medias[0].id}}?{{vm.time}}"
                        alt="">
                        
                      <button ng-show="$root.currentUser.medias[0]" ng-click="vm.destroyMedia()" type="button" id="rm-avatar" style="width: 150px" class="btn ink-reaction btn-raised btn-xs btn-danger"
                        data-toggle="tooltip" data-placement="top" data-original-title="Eliminar">
                        <i class="fa fa-trash"></i> Eliminar</button>
                    </div>
                    <therapist-dropzone class=" card col-md-7" ng-if="$root.currentUser.id" id="$root.currentUser.id"></therapist-dropzone>
                  </div>
                </div>
              </div>
  
              <div ng-show="vm.showView =='calendar'">
                <div class="row">
  
                  <!-- BEGIN CALENDAR EVENTS -->
                  <div class="col-sm-3">
                    <div>
                      <h2 class="text-primary">
                        <i class="fa fa-clock-o"></i> Mis reglas
                        <button class="btn ink-reaction btn-floating-action btn-xs btn-info pull-right" data-toggle="modal" data-target="#rulesModal">
                          <i class="fa fa-edit"></i>
                        </button>
                      </h2>
                    </div>
                    <hr/>
                    <div>
                      <h2 class="text-primary">
                        <i class="md md-event"></i> Solicitudes
                      </h2>
                    </div>
  
                    <table class="table table-hover">
                      <tbody>
                        <!-- <tr>
                          <td>{{vm.selectedDate|date:'medium'}}</td>
                          <td class="text-right">
                            <button type="button" class="btn ink-reaction btn-raised btn-xs btn-info" data-toggle="tooltip" data-placement="top" data-original-title="Edit row">
                              <i class="fa fa-eye"></i>
                            </button>
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                  <!--end .col -->
                  <!-- END CALENDAR EVENTS -->
  
                  <!-- BEGIN CALENDAR -->
                  <div class="col-sm-9">
                    <calendar ng-if="vm.user && vm.showView == 'calendar'" user="vm.user"></calendar>
                  </div>
                  <!--end .col -->
                  <!-- END CALENDAR -->
  
                </div>
                <!--end .row -->
              </div>
  
            </div>
            <!--end .card-body -->
          </div>
        </div>
        <!--end .col -->
      </div>
      <!--end .row -->
      <!-- END RESPONSIVE TABLE 1 -->
    </div>
    <!--end .section-body -->
  
    <!-- BEGIN SIMPLE MODAL MARKUP -->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Eliminar usuario
            </h4>
          </div>
          <div class="modal-body">
  
            <div class="alert alert-callout alert-danger" role="alert">
              <strong>{{$root.currentUser.firstname}} {{$root.currentUser.lastname}} ({{$root.currentUser.username}})</strong>
            </div>
          </div>
          <div class="modal-footer">
            <button ng-click="vm.removeAlertRemove()" type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <button ng-click="vm.destroy()" type="button" class="btn btn-danger btn-sm">Confirmar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  
    <div class="modal fade" id="massagesModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Masajes disponibles
            </h4>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <tbody>
                <tr ng-repeat="massage in vm.massages">
                  <td>{{massage.name.es}}</td>
                  <td>{{massage.description.es}}</td>
                  <td class="text-right">
                    <button ng-click="vm.addMassages(massage)" type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top"
                      data-original-title="Seleccionar">
                      <i class="fa fa-check"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="clearfix"></div>
            <ul style="margin: 0 20px 10px 0;" class="pull-right" uib-pagination boundary-links="true" total-items="vm.mtotalItems" ng-model="vm.mcurrentPage"
              class="pagination-sm" previous-text="&lsaquo;" ng-change="vm.mpageChanged()" next-text="&rsaquo;" first-text="&laquo;"
              last-text="&raquo;"></ul>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  
    <div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="simpleModalLabel">
              Mis reglas
            </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="checkbox checkbox-styled col-xs-6">
                  <label>
                    <input type="checkbox" ng-click="$root.currentUser.therapist.week_day = !$root.currentUser.therapist.week_day" ng-checked="$root.currentUser.therapist.week_day">
                    <span>Entre semanas</span>
                  </label>
                </div>
                <div class="checkbox checkbox-styled col-xs-6">
                  <label>
                    <input type="checkbox" ng-click="$root.currentUser.therapist.weekend = !$root.currentUser.therapist.weekend" ng-checked="$root.currentUser.therapist.weekend">
                    <span>Fines de semanas</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="checkbox checkbox-styled col-xs-6">
                  <label>
                    <input type="checkbox" ng-click="$root.currentUser.therapist.morning = !$root.currentUser.therapist.morning" ng-checked="$root.currentUser.therapist.morning">
                    <span>Mañanas</span>
                  </label>
                </div>
                <div class="checkbox checkbox-styled col-xs-6">
                  <label>
                    <input type="checkbox" ng-click="$root.currentUser.therapist.afternoon = !$root.currentUser.therapist.afternoon" ng-checked="$root.currentUser.therapist.afternoon">
                    <span>Tardes</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="checkbox checkbox-styled col-xs-6">
                  <label>
                    <input type="checkbox" ng-click="$root.currentUser.therapist.evening = !$root.currentUser.therapist.evening" ng-checked="$root.currentUser.therapist.evening">
                    <span>Noches</span>
                  </label>
                </div>
                <div class="checkbox checkbox-styled col-xs-6">
                  <label>
                    <input type="checkbox" ng-click="$root.currentUser.therapist.daybreak = !$root.currentUser.therapist.daybreak" ng-checked="$root.currentUser.therapist.daybreak">
                    <span>Madrugada</span>
                  </label>
                </div>
              </div>
  
  
              <!--end .col -->
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <button ng-click="vm.savet()" type="button" class="btn btn-accent  btn-sm" data-dismiss="modal">Salvar</button>
  
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </section>
  