<style>
        .form-control:focus {
          border-color: #7c72b0;
        }
      
        .ym-color {
          color: #7c72b0 !important;
        }
      
      </style>
<!-- BEGIN LOGIN SECTION -->
<section ng-controller="AuthController as vm" ng-cloak class="section-account">
        <ui-view ng-show="vm.showForm"></ui-view>
    <!--end .card -->
</section>
<!-- END LOGIN SECTION -->