<div ng-controller="AuthController as vm" ng-cloak class="col-md-6 col-md-offset-3" ng-style="vm.cardStyle">
  <div ng-show="vm.registerSuccesfull" class="col-md-8 col-md-offset-2">
    <img class="col-md-4 col-md-offset-4" src="/images/Standard/img_190px_menu_logo.png" srcset="/images/Retina/img_190px_menu_logo@2x.png 2x">
    <div class="clearfix"></div>
    <br/><br/>
    <div class="alert alert-callout alert-success" role="alert">
      <strong style="font-weight: bold">Bien hecho!</strong> Su registro ha sido satisfactorio.
      <a ui-sref="auth.signin" class="btn ink-reaction btn-raised btn-sm btn-accent pull-rigth">Entrar</a>
    </div>
  </div>
  <div class="clearfix"></div>
  <form ng-hide="vm.registerSuccesfull" name="doRegister" class="form form-validate" ng-submit="vm.doRegister()" novalidate="novalidate">
    <div class="card card-outlined style-primary">
      <div class="card-body ">
        <img class="col-md-4 col-md-offset-4" src="/images/Standard/img_190px_menu_logo.png" srcset="/images/Retina/img_190px_menu_logo@2x.png 2x">
        <div class="clearfix"></div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="vm.register.firstname" ng-validate="customRequired" type="text" class="form-control" id="Firstname">
              <label for="Firstname">Nombre/s</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="vm.register.lastname" ng-validate="customRequired" type="text" class="form-control" id="Lastname">
              <label for="Lastname">Apellido/s</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="vm.register.username" ng-validate="customRequired" type="text" class="form-control" id="Username">
              <label for="Username">Usuario</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="vm.register.email" type="email" class="form-control" id="Lastname2">
              <label for="Lastname2">Email</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="vm.register.phone" ng-validate="customRequired" type="text" class="form-control" id="Phone">
              <label for="Phone">Teléfono</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <label class="radio-inline radio-styled">
                  <input ng-checked="vm.register.gender == 'male'" 
                    ng-click="vm.register.gender = 'male'" 
                    type="radio" name="gender">
                  <span>Masculino</span>
                </label>
              <label class="radio-inline radio-styled">
                  <input ng-checked ="vm.register.gender == 'female'" 
                    ng-click="vm.register.gender = 'female'" 
                    type="radio" name="gender">
                  <span>Femenino</span>
                </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="vm.register.password" ng-validate="customRequired" type="password" class="form-control" id="Password">
              <label for="Password">Contraseña</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="r_password" class="form-group">
              <input ng-model="vm.register.r_password" ng-validate="customEqualPassword,vm.register.password" type="password" class="form-control"
                id="RPassword">
              <label for="RPassword">Repetir contraseña</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-actionbar">
        <div class="card-actionbar-row">
          <a ui-sref="auth.signin" class="btn btn-flat btn-sm btn-primary ink-reaction ym-color pull-left">¿Ya tienes cuenta?</a>
          <button id="btn-up-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando..." class="btn ink-reaction btn-raised btn-sm btn-accent pull-rigth"
            type="submit"> Crear cuenta</button>
        </div>
      </div>
    </div>
    <!--end .card -->
  </form>
</div>
