<style>
  .form-control:focus {
    border-color: #7c72b0;
  }

</style>
<div ng-controller="AuthController as vm" ng-cloak class="col-md-4 col-md-offset-4" ng-style="vm.cardStyle">
  <form name="doLogin" class="form form-validate" ng-submit="vm.doLogin()" novalidate="novalidate">
    <div class="card card-outlined style-primary ">
      <div class="card-body">
        <img class="col-md-6 col-md-offset-3" src="/images/Standard/img_190px_menu_logo.png" srcset="/images/Retina/img_190px_menu_logo@2x.png 2x">
        <div class="clearfix"></div>
        <br/><br/>
        <div class="form-group">
          <input type="text" class="form-control input-sm" ng-model="vm.login.username" ng-validate="customRequired" id="username"
            name="username">
          <label for="username">Usuario</label>
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-sm" ng-model="vm.login.password" ng-validate="customRequired" id="password"
            name="password">
          <label for="password">Contraseña</label>
        </div>
        <br/>
        <div class="row">
          <div class="text-right">
            <button id="btn-in-loading-state" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Esperando..." class="btn btn-accent btn-raised col-md-6 col-md-offset-3 input-sm"
              type="submit"> Entrar</button>
          </div>
          <br><br>
          <p class="text-center">¿No tienes cuenta aún?</p>
          <div class="text-right">
            <a ui-sref="auth.signup" class="btn btn-flat btn-sm btn-primary ink-reaction ym-color col-md-6 col-md-offset-3">Regístrate</a>
          </div>
        </div>
        <!--end .row -->
      </div>
    </div>
  </form>
</div>
